<%= content_for :profile_specifics do %>
  <h6>Proveedor</h6>
  <dl class="dl-horizontal user-profile-dl">
    <dt>Tipo</dt>
    <dd><%= @person.provider_type %></dd>
    <dt>Competencias</dt>
    <dd><%= @person.competencies %></dd>
    <dt>Desempeño</dt>
    <dd><%= @person.performance %></dd>
  </dl>
<% end %>

<%= content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to 'Proveedores', providers_path %>
        </li>
        <li>
          <span>
            <%= @person.rut %>
          </span>
        </li>
      </ul>
    </div>
<% end %>
