<%= content_for :profile_specifics do %>
  <h6>/ Provider/</h6>
  <dl class="dl-horizontal user-profile-dl">
    <dt>/Type_Of/</dt>
    <dd><%= @person.type_of %></dd>
    <dt>/Competencies/</dt>
    <dd><%= @person.competencies %></dd>
    <dt>/Performance/</dt>
    <dd><%= @person.performance %></dd>
  </dl>
<%= end %>
