<%= form_for(:minute, url: new_minute_path(@folder)) do |f| %>

    <section class="page-content">
      <div class="page-content-inner">

        <div class="panel">

          <%= render partial: 'referables/references_nav' %>

          <div class="row form-group margin-left-30 margin-right-20">
            <div class="col-lg-1">
              <label class="form-control-label">
                Nombre
              </label>
            </div>
            <div class="col-lg-3">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Inicio
              </label>
            </div>
            <div class="col-lg-3">
              <div class='input-group date date-picker' id='date-picker'>
                <%= text_field :raw, :start_at, class: 'form-control',
                               data: {format: dt_form_format(true)},
                               value: DateTime.now.to_i %>
                <span class="input-group-addon">
                  <i class="icmn-calendar"></i>
                </span>
              </div>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Fin
              </label>
            </div>
            <div class="col-lg-3">
              <div class='input-group date date-picker' id='date-picker'>
                <%= text_field :raw, :finish_at, class: 'form-control',
                               data: {format: dt_form_format(true)},
                               value: DateTime.now.to_i %>
                <span class="input-group-addon">
                  <i class="icmn-calendar"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="row form-group margin-left-30 margin-right-20">
            <div class="col-lg-4"></div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Inicio Sgte.
              </label>
            </div>
            <div class="col-lg-3">
              <div class='input-group date date-picker' id='date-picker'>
                <%= text_field :raw, :nxt_start_at, class: 'form-control',
                               data: {format: dt_form_format(true)},
                               value: DateTime.now.to_i %>
                <span class="input-group-addon">
                  <i class="icmn-calendar"></i>
                </span>
              </div>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Fin Sgte.
              </label>
            </div>
            <div class="col-lg-3">
              <div class='input-group date date-picker' id='date-picker'>
                <%= text_field :raw, :nxt_finish_at, class: 'form-control',
                               data: {format: dt_form_format(true)},
                               value: DateTime.now.to_i %>
                <span class="input-group-addon">
                  <i class="icmn-calendar"></i>
                </span>
              </div>
            </div>
          </div>

        </div>

        <div class="row is-flex">
          <div class="col-lg-5">
            <div class="panel padding-0">
              <div class="nav-tabs-horizontal" style="width: 100%">
                <ul class="nav nav-tabs" id="references-tabs" role="tablist" style="margin: 0">

                  <li class="nav-item" style="width: 25%; margin: 0" id="employees-tab">
                    <a class="nav-link nav-tab active" href="javascript: void(0);"
                       data-toggle="tab" data-target="#employees" role="tab"
                       style="text-align: center; font-weight: 600; color: #827ca1">
                      Internos
                    </a>
                  </li>

                  <li class="nav-item" style="width: 25%; margin:0" id="clients-tab">
                    <a class="nav-link nav-tab" href="javascript: void(0);"
                       data-toggle="tab" data-target="#clients" role="tab"
                       style="text-align: center; font-weight: 600; color: #827ca1">
                      Clientes
                    </a>
                  </li>

                  <li class="nav-item" style="width: 25%; margin:0" id="providers-tab">
                    <a class="nav-link nav-tab" href="javascript: void(0);" data-toggle="tab" data-target="#providers" role="tab" style="text-align: center; font-weight: 600; color: #827ca1">
                      Proveedores
                    </a>
                  </li>

                  <li class="nav-item" style="width: 25%; margin:0" id="others-tab">
                    <a class="nav-link nav-tab" href="javascript: void(0);" data-toggle="tab" data-target="#others" role="tab" style="text-align: center; font-weight: 600; color: #827ca1">
                      Otros
                    </a>
                  </li>

                </ul>
                <div class="tab-content">

                  <div class="tab-pane active padding-15 height-300" id="employees"
                       role="tabpanel" aria-expanded="false"
                       style="overflow: auto">
                    <div id="employee-participants"></div>
                    <a id="employee-participants-in" href="javascript:void(0)">
                      &plus; Agregar
                    </a>
                  </div>
                  <div class="tab-pane padding-15 height-300" id="clients"
                       role="tabpanel" aria-expanded="false"
                       style="overflow: auto">
                    <div id="client-participants"></div>
                    <a id="client-participants-in" href="javascript:void(0)">
                      &plus; Agregar
                    </a>
                  </div>
                  <div class="tab-pane padding-15 height-300" id="providers"
                       role="tabpanel" aria-expanded="false"
                       style="overflow: auto">
                    <div id="provider-participants"></div>
                    <a id="provider-participants-in" href="javascript:void(0)">
                      &plus; Agregar
                    </a>
                  </div>
                  <div class="tab-pane padding-15 height-300" id="others"
                       role="tabpanel" aria-expanded="false"
                       style="overflow: auto">
                    <div id="other-participants"></div>
                    <a id="other-participants-in" href="javascript:void(0)">
                      &plus; Agregar
                    </a>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-offset-1 col-lg-6">
            <div class="panel" style="overflow: auto; height: 341px">

              <div class="panel-heading">
                <h5>Temas Tratados</h5>
              </div>

              <div class="panel-body">
                <table>
                  <thead>
                  <tr>
                    <th>Tema</th>
                    <th width="1%">Tratado</th>
                  </tr>
                  </thead>
                  <tbody id="treated-topics"></tbody>
                </table>
                <a id="add-treated" href="javascript:void(0)">
                  &plus; Agregar
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="row is-flex">
          <div class="col-lg-5">
            <div class="panel" style="height: 100%">

              <div class="panel-heading">
                <h5>Tareas</h5>
              </div>

              <div class="panel-body">
                <!-- TODO -->
              </div>
            </div>
          </div>

          <div class="col-lg-offset-1 col-lg-6">
            <div class="panel">

              <div class="panel-heading">
                <h5>Temas Próxima Reunión</h5>
              </div>

              <div class="panel-body">
                <table width="100%">
                  <thead>
                  <tr>
                    <th>Tema</th>
                  </tr>
                  </thead>
                  <tbody id="untreated-topics"></tbody>
                </table>
                <a id="add-untreated" href="javascript:void(0)">
                  &plus; Agregar
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="row is-flex">
          <div class="col-lg-5">
            <div class="panel">
              <%= render partial: 'uploaded_files/edit_attachments',
                         locals: {element: nil, form: f} %>
            </div>
          </div>

          <div class="col-lg-1"></div>

          <div class="col-lg-6">
            <div class="panel" style="height: 100%">
              <div class="panel-heading">
                <h5>
                  Referencias
                </h5>
              </div>

              <div class="panel-body">
                <div id="references-container" style="margin: 0 30px 10px 30px">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel" style="width: 100%">
          <div class="panel-body">
            <div class="row form-group" style="margin: 30px 10px;height:400px">
              <%= f.text_area :comments, class: 'form-control', data: {provider: 'summernote'} %>
            </div>
          </div>
        </div>

      </div>
    </section>


    <!-- Confirmation modal -->
    <div id="confirmation-modal" class="modal fade modal-size-large" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" id="confirmation-modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="confirmation-modal-title">Está Seguro?</h4>
          </div>

          <div class="modal-body" id="confirmation-modal-body">
            <%= text_area :log, :body, class: 'form-control height-150' %>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button class="btn btn-danger width-150 height-50" data-dismiss="modal">Cancelar</button>
              </div>
              <div class="text-right col-md-6">
                <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% content_for :scripts do %>
    <script>
        var treatedCounter = 0;
        var untreatedCounter = 0;

        function generateParticipantElement(target, klass, id, name, url) {
            target.append('<div id="reference-' + id + '">\n' +
                '<a href="' + url + '">' + name + '</a>' +
                '<input class="form-control-hidden" type="hidden" ' +
                'name="minute[' + klass + '][]" id="minute_' + klass + '" ' +
                'value="' + id + '">\n' +
                '</div>'
            );
        }

        function generateEmployeeParticipantElement(target, klass, id, name) {
            generateParticipantElement(target, klass, id, name, '/personas/fichas/' + id)
        }
        function generateClientParticipantElement(target, klass, id, name) {
            generateParticipantElement(target, klass, id, name, '/clientes/fichas/' + id)
        }
        function generateProviderParticipantElement(target, klass, id, name) {
            generateParticipantElement(target, klass, id, name, '/proveedores/fichas/' + id)
        }

        $('#employee-participants-in').click(function () {
            setOptions(
                'Person::User',
                'Participantes Internos',
                true,
                'employee_participant_ids',
                $('#employee-participants')
            );
            setElementGenerator(generateEmployeeParticipantElement);
            renderAndShowReferencesModal();
        });
        $('#client-participants-in').click(function () {
            setOptions(
                'Person::Client',
                'Clientes Participantes',
                true,
                'client_participant_ids',
                $('#client-participants')
            );
            setElementGenerator(generateClientParticipantElement);
            renderAndShowReferencesModal();
        });
        $('#provider-participants-in').click(function () {
            setOptions(
                'Person::Provider',
                'Proveedores Participantes',
                true,
                'provider_participant_ids',
                $('#provider-participants')
            );
            setElementGenerator(generateProviderParticipantElement);
            renderAndShowReferencesModal();
        });
        $('#other-participants-in').click(function () {
            setOptions(
                'Person::User',
                'Otros Participantes',
                true,
                'other_participant_ids',
                $('#other-participants')
            );
            setElementGenerator(generateParticipantElement);
            renderAndShowReferencesModal();
        });

        $('#add-treated').click(function () {
            $('#treated-topics').append(
                '<tr><td><input class="form-control" type="text" name="raw[treated_topic_' +
                treatedCounter + ']" id="raw_treated_topic_"' + treatedCounter + '"></td>' +
                '<td><input class="form-control" type="checkbox" checked="checked" ' +
                'name="raw[treated_topic_' + treatedCounter + '_bool]" id="raw_treated_topic_' +
                treatedCounter + '_bool"></td></tr>'
            );
            treatedCounter++;
        });
        $('#add-untreated').click(function () {
            $('#untreated-topics').append(
                '<tr><td><input class="form-control" type="text" name="raw[untreated_topic_' +
                untreatedCounter + ']" id="raw_treated_topic_"' + untreatedCounter + '></td></tr>'
            );
            untreatedCounter++;
        });
    </script>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to 'Documentos: Actas', minutes_folders_path %>
        </li>
        <li>
          <%= link_to @folder.name, @folder %>
        </li>
        <li>
          <span>
            Nueva Acta
          </span>
        </li>
      </ul>
    </div>
<% end %>
