<% content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Nombre:</div>
      <div class="col-lg-8">
        <%= @position.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Area:</div>
      <div class="col-lg-8">
        <%= @position.area ? 'Si' : 'No' %>
      </div>
    </div>
<% end %>

<% content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Funciones:</div>
      <div class="col-lg-8">
        <%= @position.functions %>
      </div>
    </div>
<% end %>

<% content_for :main_col_3 do %>

<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @position.log_book})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
        <i class="dropdown-inline-button-icon icmn-history"></i>
        Bitácora
      </a>
    </div>

    <div class="dropdown">
      <%= link_to edit_position_path(@position), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-pencil"></i>
          Editar
      <% end %>
    </div>
    <div class="dropdown">
      <%= link_to new_position_path(@position), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-plus2"></i>
          Nueva sub-posición
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to positions_path do %>
              Personas: Organigrama
          <% end %>
        </li>
        <li>
          <span>
            <%= @position.name %>
          </span>
        </li>
      </ul>
    </div>
<% end %>
