<% content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Nombre:</div>
      <div class="col-lg-8">
        <%= @position.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Area:</div>
      <div class="col-lg-8">
        <%= @position.area ? 'Si' : 'No' %>
      </div>
    </div>
<% end %>

<% content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Funciones:</div>
      <div class="col-lg-8">
        <%= @position.functions %>
      </div>
    </div>
<% end %>

<% content_for :main_col_3 do %>

<% end %>

<% content_for :extra do %>
    <div class="row margin-top-10">
      <% if @position.users? %>
          <div class="col-lg-2">
            <div class="panel">
              <div class="panel-heading">
                <h5>
                  Proveedores
                </h5>
              </div>
              <div class="panel-body" style="height: 100px; overflow: auto">
                <% @position.users.each do |user| %>
                    <%= link_to user.full_name, user %>
                    <br>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>

      <% if @position.competency_ids? %>
          <div class="col-lg-5">
            <div class="panel">
              <div class="panel-heading">
                <h5>
                  Competencias
                </h5>
              </div>
              <div class="panel-body" style="height: 100px; overflow: auto">
                <% @position.competency_ids.each do |competency_id| %>
                    <%= Qualification.find(competency_id).phrase %>
                    <br>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
      <% if @position.performance_ids? %>
          <div class="col-lg-5">
            <div class="panel">
              <div class="panel-heading">
                <h5>
                  Desempeños
                </h5>
              </div>
              <div class="panel-body" style="height: 100px; overflow: auto">
                <% @position.performance_ids.each do |performance_id| %>
                    <%= Qualification.find(performance_id).phrase %>
                    <br>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="row is-flex">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <% if @position.references? %>
            <div class="panel padding-bottom-25" style="height: 100%">
              <%= render partial: 'referables/show_all_for',
                         locals: {element: @position} %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @position.log_book})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
        <i class="dropdown-inline-button-icon icmn-history"></i>
        Bitácora
      </a>
    </div>

    <div class="dropdown">
      <%= link_to edit_position_path(@position), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-pencil"></i>
          Editar
      <% end %>
    </div>
    <div class="dropdown">
      <%= link_to new_position_path(@position), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-plus2"></i>
          Nueva sub-posición
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to positions_path do %>
              Personas: Organigrama
          <% end %>
        </li>
        <li>
          <span>
            <%= @position.name %>
          </span>
        </li>
      </ul>
    </div>
<% end %>
