<%= content_for :heading_main do %>
    <h3>
      Detalle de Riesgo N. <%= @risk.number %>
      <br>
      <!--<small>< @risk.id ></small>-->
    </h3>
    <div class="margin-left-50">
      <h4 class="text-capitalize">
        <% if @risk.significant == 0 %>
            No Significativo
        <% elsif @risk.significant == 1 %>
            <span style="background-color: #a9a900; color: white; padding: 5px 15px"> Significativo </span>
        <% elsif @risk.significant == 2 %>
            <span style="background-color: #8b0000; color: white; padding: 5px 15px"> Significativo </span>
        <% else %>
            No Significativo
        <% end %>
      </h4>
    </div>
<% end %>

<%= content_for :keys_1 do %>
    Área:
    <br>
    Proceso:
<% end %>

<%= content_for :keys_2 do %>
    Actividad:
    <br>
    <strong>
      Riesgo:
    </strong>
<% end %>

<%= content_for :keys_3 do %>
    Responsable:
    <br>
    Frec. medición:
<% end %>

<%= content_for :values_1 do %>
    <%= Position.find(@risk.position_id).name rescue '' %>
    <br>
    <%= BusinessProcess.find(@risk.process_id).name %>
<% end %>

<%= content_for :values_2 do %>
    <%= @risk.activity %>
    <br>
    <strong>
      <%= @risk.name %>
    </strong>
<% end %>

<%= content_for :values_3 do %>
    <%= raw Person::User.find(@risk.res_id).first_last_name %>
    <br>
    <%= frequency_string(@risk.measurement_frequency).capitalize %>
<% end %>

<%= content_for :heading_extra do %>
    <h5>Mediciones</h5>
<% end %>

<%= content_for :body_extra do %>
    <div class="row margin-left-20 margin-right-20">
      <div class="table-responsive margin-bottom-10" style="height:300px; overflow: auto">
        <table class="table">
          <thead>
          <tr>
            <th>Fecha</th>
            <th>Probabilidad</th>
            <th>Impacto</th>
            <th>Magnitud</th>
            <th width="50%">Comentarios</th>
          </tr>
          </thead>
          <tbody>
          <% @risk.measurements.order('measured_at DESC').each do |measurement| %>
              <% bgcolor = significant_bgcolor(measurement.significant) %>
              <% txtcolor = significant_txtcolor(measurement.significant) %>

              <tr style="<%= bgcolor %>">
                <td style="<%= txtcolor %>"><%= measurement.measured_at.strftime(dt_rb_format(false, false)) %></td>
                <td style="<%= txtcolor %>"><%= (measurement.probability * 100).to_i %>%</td>
                <td style="<%= txtcolor %>"><%= Settings::RiskSettings.first.operational_impact_options[measurement.impact.to_s] %></td>
                <td style="<%= txtcolor %>"><%= measurement.magnitude %></td>
                <td style="<%= txtcolor %>"><%= measurement.comments %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>



<%= content_for :menu do %>
    <div class="left">
      <div class="header-buttons">
        <div class="dropdown">
          <a href="#history-modal" class="dropdown-inline-button" data-toggle="modal">
            <i class="dropdown-inline-button-icon icmn-history"></i>
            Ver historial
          </a>

        </div>
        <div class="dropdown">
          <%= link_to new_risk_measurement_path(@risk.id), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-design"></i>
              Nueva medición
          <% end %>
        </div>

      </div>
    </div>
<% end %>

<%= content_for :history_modal_body do %>
    <%= render partial: 'log/modal', locals: {book: @risk.log_book} %>
<% end %>