<%= content_for :heading_main do %>
    <div class="margin-left-50">
      <h4 class="text-capitalize">
      <span style="<%= significant_style(@risk.significant)%>; padding: 5px">
        <%= humanize_significant @risk.significant %>
      </span>
      </h4>
    </div>
<% end %>

<%# Populate all 3 columns of the view with keys & their values %>

<%= content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Área:</div>
      <div class="col-lg-8">
        <%= Position.find(@risk.area_id).name rescue '' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Proceso:</div>
      <div class="col-lg-8">
        <%= BusinessProcess.find(@risk.process_id).name rescue '' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Actividad:</div>
      <div class="col-lg-8">
        <%= @risk.activity %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Aspecto:</div>
      <div class="col-lg-8">
        <%= @risk.aspect %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Signo:</div>
      <div class="col-lg-8">
        <%= @risk.positive ? 'Positivo' : 'Negativo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Tiempo:</div>
      <div class="col-lg-8">
        <%= @settings.environmental_options[:occ_time][@risk.occurrence_time.to_s] rescue '' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Sit. Operacional:</div>
      <div class="col-lg-8">
        <%= @settings.environmental_options[:op_situation][@risk.operational_situation.to_s] rescue '' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Directo:</div>
      <div class="col-lg-8">
        <%= @risk.direct ? 'Directo' : 'Indirecto' %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_3 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Riesgo:</div>
      <div class="col-lg-8">
          <%= @risk.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Responsable:</div>
      <div class="col-lg-8">
        <%= link_to Person::User.find(@risk.responsible_id).first_last_name, user_path(@risk.responsible_id) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Frec. Medición:</div>
      <div class="col-lg-8">
        <%= frequency_string(@risk.measurement_frequency).capitalize %>
      </div>
    </div>
<% end %>

<% if @risk.comments? %>
    <%= content_for :extra_no_panel do %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Descripción</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= raw @risk.comments %>
          </div>
        </div>
    <% end %>
<% end %>

<%= content_for :extra_panel_heading do %>
    <h5>Mediciones</h5>
<% end %>

<%= content_for :extra_panel_body do %>
    <div class="row margin-left-20 margin-right-20">
      <div class="table-responsive margin-bottom-10" style="height:300px; overflow: auto">
        <table class="table">
          <thead>
          <tr>
            <th>Fecha</th>

            <th>Amplitud Geográfica</th>
            <th>Percepción Pública</th>
            <th>Reversibilidad</th>
            <th>Criticidad</th>
            <th>Cumplimiento Regulación (%)</th>

            <th>Probabilidad (%)</th>
            <th>Consecuencia</th>
            <th>Magnitud</th>
          </tr>
          </thead>
          <tbody>
          <% @risk.measurements.order(measured_at: :desc, created_at: :desc).each do |measurement| %>
              <% bgcolor = significant_bgcolor(measurement.significant) %>
              <% txtcolor = significant_txtcolor(measurement.significant) %>

              <% regulation_breach = measurement.regulation_breach %>

              <tr class="measurement-row" data-id="<%= measurement.id %>" style="<%= bgcolor %>; cursor: pointer">
                <td style="<%= txtcolor %>"><%= measurement.measured_at.strftime(dt_rb_format(false, false)) %></td>

                <td style="<%= txtcolor %>">
                  <%= @settings.environmental_options[:geo_amplitude][measurement.geographical_amplitude.to_s] %>
                </td>
                <td style="<%= txtcolor %>">
                  <%= @settings.environmental_options[:pub_perception][measurement.public_perception.to_s] %>
                </td>
                <td style="<%= txtcolor %>">
                  <%= @settings.environmental_options[:reversibility][measurement.reversibility.to_s] %>
                </td>
                <td style="<%= txtcolor %>">
                  <%= @settings.environmental_options[:criticity][measurement.criticity.to_s] %>
                </td>
                <td style="<%= txtcolor %>"><%= regulation_breach == -1 ? 'No regulado' : ((1 - regulation_breach).round(2) * 100).to_i %>

                <td style="<%= txtcolor %>"><%= (measurement.probability * 100).to_i %></td>
                <td style="<%= txtcolor %>"><%= measurement.consequence %></td>
                <td style="<%= txtcolor %>"><%= measurement.magnitude.round(2) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="margin-top-50">
        <div class="ct-chart height-400" id="risk-chart"></div>
      </div>
    </div>
<% end %>

<%= content_for :menu do %>
    <div class="left">
      <div class="header-buttons">

        <div class="dropdown"><!-- TODO REDO call js func or smth -->
          <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @risk.log_book})}" %>
          <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content%>')">
            <i class="dropdown-inline-button-icon icmn-history"></i>
            Ver Bitácora
          </a>
        </div>

        <% if @risk.responsible_id == @user.id %>
            <div class="dropdown">
              <%= link_to new_risk_measurement_path(@risk.id), method: 'get', class: 'dropdown-inline-button' do %>
                  <i class="dropdown-inline-button-icon icmn-design"></i>
                  Medir
              <% end %>
            </div>
        <% end %>

        <div class="dropdown">
          <%= link_to edit_risk_path(@risk.id), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-pencil"></i>
              Editar
          <% end %>
        </div>

      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to risks_path('ambiente') do %>
              Riesgos Ambientales
          <% end %>
        </li>
        <li>
          <span>
            <%= @risk.number %>
          </span>
        </li>
      </ul>
    </div>
<% end %>

<%= content_for :scripts do %>
    <%# Process and load measurement data for use in the chart (Using ChartistJS). %>
    <% if @risk.measurements.count > 0 %>

        <% data = chart_data(@risk.measurements.order(measured_at: :asc, created_at: :asc), 4) %>

        <!-- Risks' Show Page Scripts -->
        <script type="text/javascript">
            $('.measurement-row').click(function () {
                var link = '/riesgos/<%= @risk.id %>/' + $(this).attr('data-id') + '/editar';

                window.open(link, '_self');
            });

            $(document).ready(function () {
                chart = generateLineChart(
                    '#risk-chart',
                    { // data
                        labels: <%= raw data[:numeric_dates] %>,
                        series: [<%= raw data[:values] %>, <%= raw data[:thresholds] %>]
                    },
                    { // options
                        lineSmooth: false,
                        axisX: generateFixedAxis(<%= raw data[:numeric_dates] %>,
                            0 + <%= raw data[:min_x] %>, <%= raw data[:max_x] %>,
                            function (value) {
                                return moment.unix(value)
                                    .format('<%= dt_form_format(false) %>')
                            }),
                        axisY: generateAutoAxis(0, 13)
                    });
            });
        </script>
    <% end %>
<% end %>

<% content_for :styles do %>
    <!-- Risks' Show Page Styles -->
    <style>
      .ct-series-a .ct-line,
      .ct-series-a .ct-point {
        stroke: #01a8fe;
      }

      .ct-series-b .ct-line,
      .ct-series-b .ct-point {
        stroke: #fb434a;
      }
    </style>
<% end %>
