<%= content_for :heading_main do %>
  <div class="margin-left-50">
    <h4 class="text-capitalize">
      <span style="<%= significant_style(@risk.significant)%>; padding: 5px">
        <%= humanize_significant @risk.significant %>
      </span>
    </h4>
  </div>
<% end %>

<%= content_for :keys_1 do %>
  Área:
  <br>
  Proceso:
<% end %>

<%= content_for :keys_2 do %>
  Actividad:
  <br>
  <strong>
    Riesgo:
  </strong>
<% end %>

<%= content_for :keys_3 do %>
  Responsable:
  <br>
  Frec. medición:
<% end %>

<%= content_for :values_1 do %>
  <%= Position.find(@risk.area_id).name rescue '' %>
  <br>
  <%= BusinessProcess.find(@risk.process_id).name %>
<% end %>

<%= content_for :values_2 do %>
  <%= @risk.activity %>
  <br>
  <strong>
    <%= @risk.name %>
  </strong>
<% end %>

<%= content_for :values_3 do %>
  <%= raw Person::User.find(@risk.res_id).first_last_name %>
  <br>
  <%= frequency_string(@risk.measurement_frequency).capitalize %>
<% end %>

<%= content_for :heading_extra do %>
    <h5>Mediciones</h5>
<% end %>

<%= content_for :body_extra do %>
  <div class="row margin-left-20 margin-right-20">
    <div class="table-responsive margin-bottom-10" style="height:300px; overflow: auto">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Probabilidad</th>
            <th>Impacto</th>
            <th>Magnitud</th>
            <th width="50%">Comentarios</th>
            <% if @risk.responsible_id == @user.id %>
              <th>Editar</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @risk.measurements.order(measured_at: :desc).each do |measurement| %>
              <% bgcolor = significant_bgcolor(measurement.significant) %>
              <% txtcolor = significant_txtcolor(measurement.significant) %>

              <tr style="<%= bgcolor %>">
                <td style="<%= txtcolor %>"><%= measurement.measured_at.strftime(dt_rb_format(false, false)) %></td>
                <td style="<%= txtcolor %>"><%= (measurement.probability * 100).to_i %>%</td>
                <td style="<%= txtcolor %>"><%= Settings::RiskSettings.first.operational_impact_options[measurement.impact.to_s] %></td>
                <td style="<%= txtcolor %>"><%= measurement.magnitude %></td>
                <td style="<%= txtcolor %>"><%= measurement.comments %></td>
                <% if @risk.responsible_id == @user.id %>
                  <td><%= link_to 'Editar', edit_risk_measurement_path(measurement.id) %></td>
                <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="margin-top-50">
      <div class="ct-chart height-400" id="risk-chart"></div>
    </div>
  </div>
<% end %>



<%= content_for :menu do %>
    <div class="left">
      <div class="header-buttons">

        <div class="dropdown">
          <a href="#history-modal" class="dropdown-inline-button" data-toggle="modal">
            <i class="dropdown-inline-button-icon icmn-history"></i>
            Ver historial
          </a>
        </div>

        <% if @risk.responsible_id == @user.id %>
          <div class="dropdown">
            <%= link_to new_risk_measurement_path(@risk.id), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-design"></i>
              Nueva medición
            <% end %>
          </div>
        <% end %>

        <div class="dropdown">
          <%= link_to edit_risk_path(@risk.id), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-pencil"></i>
              Editar
          <% end %>
        </div>

      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to risks_path('gestion') do %>
            Riesgos Operacionales
          <% end %>
        </li>
        <li>
          <span>
            <%= @risk.number %>
          </span>
        </li>
      </ul>
    </div>
<% end %>

<%= content_for :history_modal_body do %>
  <%= render partial: 'log/modal', locals: {book: @risk.log_book} %>
<% end %>

<%= content_for :scripts do %>
    <% if @risk.measurements.count > 0 %>
      <% date_nums = Set.new %>
      <% data = [] %>
      <% thresholds = [] %>
      <% @risk.measurements.order(measured_at: :asc).each do |m| %>
          <% date = m.measured_at.to_i %>
          <% date_nums.add(date) %>
          <% data.push({x: date, y: m.magnitude}) %>
          <% thresholds.push({x: date, y: m.threshold}) %>
      <% end %>

      <script>
        var data = {
            labels: <%= raw date_nums.to_a %>,
            series: [
                <%= raw data.to_s.gsub(':x=>', 'x: ').gsub(':y=>', 'y: ') %>,
                <%= raw thresholds.to_s.gsub(':x=>', 'x: ').gsub(':y=>', 'y: ') %>
            ]
        };
        $(document).ready(function() {
            chart = new Chartist.Line(
                '#risk-chart',
                data,
                {
                    lineSmooth: false,
                    axisX: {
                        type: Chartist.FixedScaleAxis,
                        ticks: <%= raw date_nums.to_a %>,
                        low: <%= raw date_nums.to_a.first - 4.hours.to_i %>,
                        high: <%= raw date_nums.to_a.last + 4.hours.to_i %>,
                        labelInterpolationFnc: function (value) {
                          return moment(value * 1000).format('<%= dt_form_format(false) %>');
                        }
                    },
                    axisY: {
                        type: Chartist.AutoScaleAxis,
                        low: 0,
                        high: <%= Settings::RiskSettings.first.operational_impact_options.keys.last %>
                    },
                    plugins: [
                        Chartist.plugins.tooltip({
                            tooltipFnc: function (meta, value) {
                                return value.split(',')[1]
                            }
                        })
                    ]
                }
            );
        });

      </script>
    <% end %>

    <style>
      .ct-series-a .ct-line,
      .ct-series-a .ct-point {
        stroke: #01a8fe;
      }

      .ct-series-b .ct-line,
      .ct-series-b .ct-point {
        stroke: #fb434a;
      }
    </style>
<% end %>