
<%# Populate all 3 columns of the view with keys & their values %>
<% rule = Rule.find(@risk.rule_id) %>
<% article = rule.articles.find(@risk.article_id) %>

<%= content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Institución:</div>
      <div class="col-lg-8">
        <%= rule.institution %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label"><%= rule.get_rule_type_name[:es].capitalize %>:</div>
      <div class="col-lg-8">
        <%= rule.name %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Artículo:</div>
      <div class="col-lg-8">
        <%= article.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Requerimiento:</div>
      <div class="col-lg-8">
        <%= article.requirement %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_3 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Responsable:</div>
      <div class="col-lg-8">
        <%= link_to Person::User.find(@risk.responsible_id).first_last_name, user_path(@risk.responsible_id) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Frec. Medición:</div>
      <div class="col-lg-8">
        <%= frequency_string(@risk.measurement_frequency).capitalize %>
      </div>
    </div>
<% end %>

<% if @risk.comments? %>
    <%= content_for :extra_no_panel do %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Descripción</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= raw @risk.comments %>
          </div>
        </div>
    <% end %>
<% end %>

<%= content_for :extra_panel_heading do %>
    <h5>Mediciones</h5>
<% end %>

<%= content_for :extra_panel_body do %>
    <div class="row margin-left-20 margin-right-20">
      <div class="table-responsive margin-bottom-10" style="height:300px; overflow: auto">
        <table class="table">
          <thead>
          <tr>
            <th>Fecha</th>
            <th>Cumplimiento (%)</th>
          </tr>
          </thead>
          <tbody>
          <% @risk.measurements.order(measured_at: :desc, created_at: :desc).each do |measurement| %>
              <% bgcolor = significant_bgcolor(measurement.significant) %>
              <% txtcolor = significant_txtcolor(measurement.significant) %>

              <tr class="measurement-row" data-id="<%= measurement.id %>" style="<%= bgcolor %>; cursor: pointer">
                <td style="<%= txtcolor %>"><%= measurement.measured_at.strftime(dt_rb_format(false, false)) %></td>
                <td style="<%= txtcolor %>"><%= (measurement.compliance * 100).round %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <script>

      </script>

      <div class="margin-top-50">
        <div class="ct-chart height-400" id="risk-chart"></div>
      </div>
    </div>
<% end %>

<%= content_for :menu do %>
    <div class="left">
      <div class="header-buttons">

        <div class="dropdown"><!-- TODO REDO call js func or smth -->
          <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @risk.log_book})}" %>
          <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content%>')">
            <i class="dropdown-inline-button-icon icmn-history"></i>
            Ver Bitácora
          </a>
        </div>

        <% if @risk.responsible_id == @user.id %>
            <div class="dropdown">
              <%= link_to new_risk_measurement_path(@risk.id), method: 'get', class: 'dropdown-inline-button' do %>
                  <i class="dropdown-inline-button-icon icmn-design"></i>
                  Medir
              <% end %>
            </div>
        <% end %>

        <div class="dropdown">
          <%= link_to edit_risk_path(@risk.id), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-pencil"></i>
              Editar
          <% end %>
        </div>

      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= rule_type_breadcrumb(@risk.rule_type) %>
        </li>
        <li>
          <%= link_to rule.full_name, risks_path(rule.id) %>
        </li>
        <li>
          <span>
            Art. <%= article.name %>
          </span>
        </li>
      </ul>
    </div>
<% end %>

<%= content_for :scripts do %>
    <%# Process and load measurement data for use in the chart (Using ChartistJS). %>
    <% if @risk.measurements.count > 0 %>

        <% data = chart_data(@risk.measurements.order(measured_at: :asc, created_at: :asc), 4, 'compliance') %>

        <!-- Risks' Show Page Scripts -->
        <script type="text/javascript">
            $('.measurement-row').click(function () {
                var link = '/riesgos/<%= @risk.id %>/' + $(this).attr('data-id') + '/editar';

                window.open(link, '_self');
            });

            $(document).ready(function () {
                chart = generateLineChart(
                    '#risk-chart',
                    { // data
                        labels: <%= raw data[:numeric_dates] %>,
                        series: [<%= raw data[:values] %>, <%= raw data[:thresholds] %>]
                    },
                    { // options
                        lineSmooth: false,
                        axisX: generateFixedAxis(<%= raw data[:numeric_dates] %>,
                            0 + <%= raw data[:min_x] %>, <%= raw data[:max_x] %>,
                            function (value) {
                                return moment.unix(value)
                                    .format('<%= dt_form_format(false) %>')
                            }),
                        axisY: generateAutoAxis(0, 1)
                    });
            });
        </script>
    <% end %>
<% end %>

<% content_for :styles do %>
    <!-- Risks' Show Page Styles -->
    <style>
      .ct-series-a .ct-line,
      .ct-series-a .ct-point {
        stroke: #01a8fe;
      }

      .ct-series-b .ct-line,
      .ct-series-b .ct-point {
        stroke: #fb434a;
      }
    </style>
<% end %>
