<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Tipo</th>
      <th>Identificador</th>
      <th>Nombre</th>
      <th>Descripción</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% BusinessAsset.each do |asset| %>
        <tr class="asset-row" data-id="<%= asset.id %>">
          <td><%= BusinessAssetType.find(asset.type_id).name %></td>
          <td><%= asset.identification %></td>
          <td id="name-cell"><%= asset.name %></td>
          <td><%= asset.description %></td>
        </tr>
    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        $(function () {
            $('#new-tab').hide()
        });

        var rowSelector = $('.asset-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelectedReference('BusinessAsset', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>