<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Tipo</th>
      <th>Nombre</th>
      <th style="width: 50%">Descripci칩n</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% if BusinessProcess.count > 0 %>
        <% BusinessProcess.each do |business_process| %>
            <tr class="business_process-row" data-id="<%= business_process.id %>">
              <td><%= business_process.process_type %>
              <td id="name-cell"><%= business_process.name %></td>
              <td><%= business_process.description %></td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td>No se encontraron procesos</td>
        </tr>
    <% end %>
    </tbody>
<% end %>

<%= content_for :references_form do %>
    <%= form_for(:process,
                 url: new_business_process_path(format: :json),
                 remote: true,
                 html: {id: 'new_process'}) do |f| %>
        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Tipo</label>
          </div>
          <div class="col-md-3">
            <%= f.collection_select :process_type,
                                    BusinessProcess.get_all_types.collect { |c| [c, c] },
                                    :first, :last,
                                    {}, {class: 'form-control', style: 'width: 100%'} %>
          </div>
          <div class="col-md-1">
            <label class="form-control-label">Nombre</label>
          </div>
          <div class="col-md-7">
            <%= f.text_field :name, class: 'form-control', style: 'width: 100%' %>
          </div>
        </div>

        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Descripci칩n</label>
          </div>
          <div class="col-md-11">
            <%= f.text_area :description, class: 'form-control', style: 'width: 100%' %>
          </div>
        </div>

        <%# f.hidden_field :responsible_id, value: @user.id %>
        <!--<div class="row" style="margin: 15px 10px 0 10px">
          <p>
            Usted ser치 asignado como responsable de este proceso.
            <br>
            Puede editar esto accediendo a la p치gina del proceso directamente y haciendo click en <i>Editar</i>.
          </p>
        </div>-->

        <div class="form-actions text-center" style="position:absolute; bottom: 0; width: 100%">
          <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50', style: 'text-align: center' %>
        </div>
    <% end %>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        var rowSelector = $('.business_process-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        $('#new_process').on("ajax:success", function (e, data, status, xhr) {
            var result = processNewReferenceCreated(data);

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelected('BusinessProcess', row.attr('data-id')));
        });

        $('.filterable').filterable();

        //styleSelectedRows(rowSelector); // Add checkForMultipleSelection ?
    </script>
<% end %>
