<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Nombre</th>
      <th style="width: 70%">Descripción</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% if BusinessAssetType.count > 0 %>
        <% BusinessAssetType.each do |asset_type| %>
            <tr class="business_asset_type-row" data-id="<%= asset_type.id %>">
              <td id="name-cell"><%= asset_type.name %></td>
              <td><%= asset_type.description %></td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td>No se encontraron tipos de activos</td>
        </tr>
    <% end %>
    </tbody>
<% end %>

<%= content_for :references_form do %>
    <%= form_for(:asset_type,
                 url: new_business_asset_type_path(format: :json),
                 remote: true,
                 html: {id: 'new_asset_type'}) do |f| %>
        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Nombre</label>
          </div>
          <div class="col-md-7">
            <%= f.text_field :name, class: 'form-control', style: 'width: 100%' %>
          </div>
        </div>

        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Descripción</label>
          </div>
          <div class="col-md-11">
            <%= f.text_area :description, class: 'form-control', style: 'width: 100%' %>
          </div>
        </div>

        <div class="form-actions text-center" style="position:absolute; bottom: 0; width: 100%">
          <%= f.submit 'Ingresar',
                       class: 'btn btn-primary width-150 height-50',
                       style: 'text-align: center' %>
        </div>
    <% end %>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        var rowSelector = $('.business_asset_type-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        $('#new_asset_type').on("ajax:success", function (e, data, status, xhr) {
            var result = processNewReferenceCreated(data);

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        $('.filterable').filterable();

        rowSelector.each(function () {
            styleSelection($(this), isSelectedReference('BusinessAssetType', row.attr('data-id')));
        });

        //styleSelectedRows(rowSelector); // Add checkForMultipleSelection ?
    </script>
<% end %>
