<% extra ||= 'noextra' %>
<% clients = extra == 'noextra' ? Person::Client.all : Person::Client.where(type_ids: extra) %>

<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Cargos</th>
      <th>Tipos</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% clients.each do |client| %>

        <% types = client.types.map { |type| type.name } %>

        <tr class="client-row" data-id="<%= client.id %>">
          <td id="name-cell"><%= client.full_name %></td>
          <td><%= types.join(', ') %></td>
        </tr>

    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        $(function () {
            $('#new-tab').hide()
        });

        var rowSelector = $('.client-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelected('Person::Client', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>
