<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Frase</th>
    </tr>
    </thead>
    <tbody style="cursor:pointer">
    <% Competency.each do |competency| %>
        <tr class="competency-row" data-id="<%= competency.id %>">
          <td id="name-cell"><%= competency.phrase %></td>
        </tr>
    <% end %>
    </tbody>
<% end %>

<%= content_for :references_form do %>
    <%= form_for(:competency,
                 url: new_competency_path(format: :json),
                 remote: true,
                 html: {id: 'new_competency'}) do |f| %>
        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Frase</label>
          </div>
          <div class="col-md-7">
            <%= f.text_field :phrase, class: 'form-control', style: 'width: 100%' %>
          </div>
        </div>

        <div class="form-actions text-center" style="position:absolute; bottom: 0; width: 100%">
          <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50', style: 'text-align: center' %>
        </div>
    <% end %>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        var rowSelector = $('.competency-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        var process_form = $('#new_competency');
        process_form.on('ajax:success', function(e, data, status, xhr) {
            var result = processNewReferenceCreated(data);

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        $('.filterable').filterable();

        styleSelectedRows(rowSelector);
    </script>
<% end %>
