<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Objetivo</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Método</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% Indicator.each do |indicator| %>
        <tr class="indicator-row" data-id="<%= indicator.id %>">
          <td><%= Objective.find(indicator.objective_id).name %></td>
          <td id="name-cell"><%= indicator.name %></td>
          <td><%= indicator.description %></td>
          <td><%= indicator.method %></td>
        </tr>
    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        $(function () {
            $('#new-tab').hide()
        });

        var rowSelector = $('.indicator-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelected('Indicator', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>