<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Tipo</th>
      <th>Localidad</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% MinutesFolder.each do |folder| %>
        <tr class="minutes-folder-row" data-id="<%= folder.id %>">
          <td id="name-cell"><%= folder.name %></td>
          <td><%= folder.location %></td>
        </tr>
    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        var rowSelector = $('.minutes-folder-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        styleSelectedRows(rowSelector);
        $('#new-tab').hide();
        $('.filterable').filterable();
    </script>
<% end %>
