<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Fecha</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% Planning.each do |planning| %>
        <tr class="planning-row" data-id="<%= planning.id %>">
          <td><%= planning.name %></td>
          <td id="name-cell"><%= planning.description %></td>
          <td><%= planning.due_at.strftime(dt_rb_format(true, false)) %></td>
        </tr>
    <% end %>
    </tbody>
<% end %>

<%= content_for :references_form do %>
    <%= form_for(:planning,
                 url: new_planning_path(format: :json),
                 remote: true,
                 html: {id: 'new_planning'}) do |f| %>
        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Nombre</label>
          </div>
          <div class="col-md-7">
            <%= f.text_field :name, class: 'form-control', style: 'width: 100%' %>
          </div>
        </div>

        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Fecha</label>
          </div>
          <div class="col-md-7 input-group date date-picker" id="plannings-datetime-picker" >
              <%= text_field :raw, :due_at, class: 'form-control',
                             data: {format: dt_form_format(true)},
                             value: DateTime.now.to_i %>
              <span class="input-group-addon">
                <i class="icmn-calendar"></i>
              </span>
          </div>
        </div>

        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Descripción</label>
          </div>
          <div class="col-md-11">
            <%= f.text_area :description, class: 'form-control', style: 'width: 100%' %>
          </div>
        </div>

        <div class="form-actions text-center" style="position:absolute; bottom: 0; width: 100%">
          <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50', style: 'text-align: center' %>
        </div>
    <% end %>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        var rowSelector = $('.planning-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        var planning_form = $('#new_planning');
        planning_form.on("ajax:success", function (e, data, status, xhr) {
            var result = processNewReferenceCreated(data);

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelectedReference('Planning', row.attr('data-id')));
        });

        $('.filterable').filterable();
        newDateTimePicker($('#plannings-datetime-picker'), '<% server_timezone %>')
    </script>
<% end %>