<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% ProviderType.each do |type| %>

        <tr class="type-row" data-id="<%= type.id %>">
          <td id="name-cell"><%= type.name %></td>
          <td><%= type.description %></td>
        </tr>

    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        $(function () {
            $('#new-tab').hide()
        });

        var rowSelector = $('.type-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelected('ProviderType', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>
