<% extra ||= 'noextra' %>
<% evaluations = extra == 'noextra' ? ProviderEvaluation.all : ProviderEvaluation.where(qualification_type: extra.to_i) %>

<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Fecha</th>
      <th>Tipo</th>
      <th>Proveedor</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% evaluations.each do |evaluation| %>

        <tr class="evaluation-row" data-id="<%= evaluation.id %>">
          <td><%= show_formatted_datetime(evaluation.evaluated_at) %></td>
          <td id="type-cell"><%= evaluation.evaluated_type.name %></td>
          <td id="person-cell"><%= evaluation.evaluated_provider.full_name %></td>
        </tr>

    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        $(function () {
            $('#new-tab').hide()
        });

        var rowSelector = $('.evaluation-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#type-cell').html().trim() + row.find('#person-cell').html().trim()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelected('ProviderEvaluation', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>
