<% extra ||= '' %>
<% providers = extra == 'noextra' ? Person::Provider.all : Person::Provider.where(type_ids: extra) %>

<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Cargos</th>
      <th>Tipos</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% providers.each do |provider| %>

        <% types = []; provider.types.each { |type| types.push(type.name) } %>

        <tr class="provider-row" data-id="<%= provider.id %>">
          <td id="name-cell"><%= provider.full_name %></td>
          <td><%= types.join(', ') %></td>
        </tr>

    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        $(function () {
            $('#new-tab').hide()
        });

        var rowSelector = $('.provider-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelected('Person::Provider', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>
