<% risks = case extra
             when 'law'
               Risk::RuleRisk.law
             when 'standard'
               Risk::RuleRisk.standard
             else
               Risk::RuleRisk.all
           end
%>

<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Ley</th>
      <th>Numeral</th>
      <th>Título</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% risks.each do |risk| %>
        <tr class="risk-row" data-id="<%= risk.id %>">
          <td id="rule-cell"><%= risk.full_rule_name %></td>
          <td id="numeral-cell"><%= risk.numeral %></td>
          <td><%= risk.title %></td>
        </tr>

    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        $(function () {
            $('#new-tab').hide()
        });

        var rowSelector = $('.risk-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#rule-cell').html() + ', art. ' + row.find('#numeral-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelectedReference('Risk::RuleRisk', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>
