<% rules = case extra
             when 'law'
               Rule.law
             when 'standard'
               Rule.standard
             else
               Rule.all
           end
%>

<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Institución</th>
      <th>Nombre</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% rules.each do |rule| %>

        <tr class="rule-row" data-id="<%= rule.id %>">
          <td><%= rule.institution %></td>
          <td id="name-cell"><%= rule.name %></td>
        </tr>

    <% end %>
    </tbody>
<% end %>

<%= content_for :references_form do %>
    <%= form_for(:rule,
                 url: new_rule_path(format: :json),
                 remote: true,
                 html: {id: 'new_rule'}) do |f| %>
        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Insitución</label>
          </div>
          <div class="col-md-7">
            <%= f.text_field :institution, class: 'form-control', style: 'width: 100%' %>
          </div>

          <%= raw case extra
                    when 'law'
                      f.hidden_field(:rule_type, value: 1)
                    when 'standard'
                      f.hidden_field(:rule_type, value: 2)
                    else
                      '<div class="col-md-1">
                         <label class="form-control-label">
                           Tipo
                         </label>
                       </div>
                       <div class="col-md-3">' +
                          f.collection_select(:rule_type, {1 => 'Ley', 2 => 'Norma'},
                                              :first, :second,
                                              {}, {class: 'form-control', style:'100%'}) +
                      '</div>'
                  end
          %>
        </div>


        <div class="row form-group" style="margin: 15px 10px 0 10px">
          <div class="col-md-1">
            <label class="form-control-label">Nombre</label>
          </div>
          <div class="col-md-11">
            <%= f.text_field :name, class: 'form-control', style: 'width: 100%' %>
          </div>
        </div>

        <div class="form-actions text-center" style="position:absolute; bottom: 0; width: 100%">
          <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50', style: 'text-align: center' %>
        </div>
    <% end %>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        var rowSelector = $('.rule-row');
        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        var process_form = $('#new_rule');
        process_form.on("ajax:success", function (e, data, status, xhr) {
            var result = processNewReferenceCreated(data);

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelectedReference('Objective', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>