<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Área</th>
      <th>Proceso</th>
      <th>Puesto</th>
      <th>Actividad</th>
      <th>Nombre</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% Risk::SafetyRisk.each do |risk| %>
        <tr class="risk-row" data-id="<%= risk.id %>">
          <td><%= Position.find(risk.area_id).name %></td>
          <td><%= BusinessProcess.find(risk.process_id).name %></td>
          <td><%= Position.find(risk.position_id).name %></td>
          <td><%= risk.activity %></td>
          <td id="name-cell"><%= risk.name %></td>
        </tr>

    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        $(function () {
            $('#new-tab').hide()
        });

        var rowSelector = $('.risk-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelected('Risk::SafetyRisk', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>
