<% extra ||= 'noextra' %>
<% employees = extra == 'noextra' ? Person::User.all : Person::User.where(position_ids: extra) %>


<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Cargos</th>
      <th>Rol</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% employees.each do |employee| %>

        <% positions = []; employee.positions.each { |pos| positions.push(pos.name) } %>

        <tr class="user-row" data-id="<%= employee.id %>">
          <td id="name-cell"><%= employee.full_name %></td>
          <td><%= positions.join(', ') %></td>
          <td><%= employee.role %></td>
        </tr>

    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        $(function () {
            $('#new-tab').hide()
        });

        var rowSelector = $('.user-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        rowSelector.each(function () {
            var row = $(this);
            styleSelection(row, isSelected('Person::User', row.attr('data-id')));
        });

        $('.filterable').filterable();
    </script>
<% end %>
