<% extra ||= 'noextra' %>

<% if extra.class == String
     employees = extra == 'noextra' ? Person::User.all : Person::User.where(position_ids: extra)
   else
     wl_pos = []
     bl_pos = []

     wl_pos += [extra[:belongsTo]] if extra[:belongsTo]

     wl_area = Position.find(extra[:belongsToArea]) if extra[:belongsToArea]
     bl_area = Position.find(extra[:notFromArea]) if extra[:notFromArea]

     bl_pos += bl_area.all_children_ids if bl_area
     wl_pos += wl_area.all_children_ids if wl_area

     employees = Person::User.all
     employees = employees.where(:position_ids.in => wl_pos) unless wl_pos.empty?
     employees = employees.where(:position_ids.nin => bl_pos) unless bl_pos.empty?
     employees = employees.where(:_id.ne => extra[:isNot]) if extra[:isNot]

   end %>

<%= content_for :references_table_content do %>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Cargos</th>
      <th>Rol</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer">
    <% employees.each do |employee| %>

        <% positions = []; employee.positions.each { |pos| positions.push(pos.name) } %>

        <tr class="user-row" data-id="<%= employee.id %>">
          <td id="name-cell"><%= employee.full_name %></td>
          <td><%= positions.join(', ') %></td>
          <td><%= employee.role %></td>
        </tr>

    <% end %>
    </tbody>
<% end %>

<%= content_for :references_scripts do %>
    <script>
        var rowSelector = $('.user-row');

        rowSelector.click(function () {
            var row = $(this);
            var result = processReferenceRowClick(
                row,
                row.attr('data-id'),
                row.find('#name-cell').html()
            );

            if (result) {
                $('#table-modal').modal('hide');
            }
        });

        styleSelectedRows(rowSelector);
        $('.filterable').filterable();
        $('#new-tab').hide()
    </script>
<% end %>
