<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>Tipo Activo</th>
      <th>Activo</th>
      <th>Fecha Siguiente</th>
      <th>Fecha Última</th>
      <th>Motivo</th>
      <th>Resultado</th>
    </tr>
<% end %>

<% content_for :table_body do %>
    <% assets = Asset.order_by(next_calibration_at: :desc) %>

    <% if assets.size != 0 %>
        <% assets.each do |asset| %>

            <% cal = asset.calibrations.order_by(calibrated_at: :desc, created_at: :desc).first %>

            <tr data-href="<%= asset_calibration_path(asset) %>">

              <td><div class="expand-collapse">+</div><%= asset.asset_type %></td>

              <td><%= asset.name %></td>

              <td><%= asset.next_calibration_at.strftime(dt_rb_format(false, false)) %></td>

              <td><%= cal ? cal.calibrated_at.strftime(dt_rb_format(false, false)) : '-' %></td>

              <td><%= cal ? cal.motive : '-' %></td>
              <td><%= cal ? cal.result : '-' %></td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="6">No se encontraron activos.</td>
        </tr>
    <% end %>
<% end %>

<% content_for :menu do %>
    <div class="left">
      <div class="header-buttons">
        <div class="dropdown">
          <%= link_to '#', method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-file-plus"></i>
              Nuevo
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
        <span>
          Calibración Activos
        </span>
        </li>
      </ul>
    </div>
<% end %>

