<section class="page-content">
  <div class="page-content-inner">

    <%= form_for(:risk, url: new_risk_path) do |f| %>

      <div class="panel">

          <%= render partial: 'associables/associations_nav', locals: {element: 'risk'} %>


        <div class="row form-group margin-left-50">
          <div class="col-lg-1">
            <label class="form-control-label">
              Área
            </label>
          </div>
          <div class="col-lg-2 input-group margin-right-20" id="area-in">
            <%= f.text_field :area_name, class: 'form-control', readonly: true %>
            <span class="input-group-addon" style="cursor: pointer">
              <i class="icmn-pencil5"></i>
            </span>
            <%= f.hidden_field :area, class: 'form-control-hidden' %>
          </div>

          <div class="col-lg-1">
            <label class="form-control-label">
              Proceso
            </label>
          </div>
          <div class="col-lg-2 input-group margin-right-20" id="process-in">
            <%= f.text_field :process, class: 'form-control', readonly: true %>
            <span class="input-group-addon" style="cursor: pointer">
              <i class="icmn-pencil5"></i>
            </span>
          </div>

          <div class="col-lg-1">
            <label class="form-control-label">
              Responsable
            </label>
          </div>
          <div class="col-lg-2 input-group margin-right-20" id="responsible-in">
            <%= f.text_field :responsible_name, class: 'form-control', readonly: true %>
            <span class="input-group-addon" style="cursor: pointer">
              <i class="icmn-pencil5"></i>
            </span>
            <%= f.hidden_field :responsible, class: 'form-control-hidden' %>
          </div>
        </div>

        <div class="row form-group margin-left-50">
          <div class="col-lg-1">
            <label class="form-control-label">
              Actividad
            </label>
          </div>
          <div class="col-lg-2 margin-right-20">
            <%= f.text_field :activity, class: 'form-control' %>
          </div>

          <div class="col-lg-1">
            <label class="form-control-label">
              Riesgo
            </label>
          </div>
          <div class="col-lg-2 margin-right-20">
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="col-lg-1">
            <label class="form-control-label">
              Frecuencia
            </label>
          </div>
          <div class="col-lg-2 form-inline">
            <%= f.collection_select :frequency, frequency_hash, :first, :last, {}, {class: 'form-control', style: 'width:100%'} %>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="row form-group margin-left-50 margin-top-30">
          <div class="col-lg-2">
            <label class="form-control-label">
              Bitácora
            </label>
          </div>
          <div class="col-lg-6">
            <%= f.text_area :log_entry, class: 'form-control', style: 'width:90%' %>
          </div>
        </div>
      </div>

      <div class="panel" style="position: fixed; width: 100%; bottom: 0; margin: 0 0 0 -16px  ">
        <div class="row text-center margin-15">
          <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<script>
  $('#process-in').click(function () {
      $.ajax({url: '/processes/risk'})
  });

  $('#process-new').click(function () {
     $.ajax({url: '/processes/risk/new'});
  });

  $('#responsible-in').click(function () {
      $('#table-modal-title').html('Seleccionar Responsable');
      $.ajax({url: '/associables/single_responsible-in/Person::User'});
  });

  $('#area-in').click(function () {
      $('#table-modal-title').html('Seleccionar Área');
      $.ajax({url: '/associables/single_area-in/Position'});
  });
</script>

<%= content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to risks_path('gestion') do %>
              Riesgos Operacionales
          <% end %>
        </li>
        <li>
          <span>
            Nuevo
          </span>
        </li>
      </ul>
    </div>
<% end %>
