<%= form_for(:measurement, url: new_risk_measurement_path(@risk.id)) do |f| %>
    <%= hidden_field :raw, :type, value: 'ambiente' %>
    <%= f.hidden_field :regulation_breach, value: @risk.get_compliance ? (1 - @risk.get_compliance) : -1 %>

    <section class="page-content">
      <div class="page-content-inner">

        <div class="panel">

          <%= render partial: 'associables/associations_nav', locals: {element: 'measurement'} %>

          <div class="row form-group margin-left-50">
            <div class="col-lg-1">
              <label class="form-control-label">
                Fecha de medición
              </label>
            </div>
            <div class="col-lg-2">
              <div class='input-group date' id='date-picker'>
                <%= text_field :raw, :measured_on, class: 'form-control', data: {date_format: dt_form_format},
                               value: Date.today.to_time.to_i %>
                <span class="input-group-addon">
                <i class="icmn-calendar"></i>
              </span>
              </div>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Probabilidad
              </label>
            </div>
            <div class="col-lg-2 form-inline">
              <%= number_field :raw, :probability, value: 0, within: 0..100, class: 'form-control', style: 'width:75px' %> %
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Criticidad
              </label>
            </div>
            <div class="col-lg-2">
              <%= f.collection_select :criticity, @settings.environmental_options[:criticity],
                                      :first, :last, {}, {class: 'form-control', style: 'width:100%'} %>
            </div>
          </div>

          <div class="row form-group margin-left-50">
            <div class="col-lg-1">
              <label class="form-control-label">
                Amp. Geográfica
              </label>
            </div>
            <div class="col-lg-2">
              <%= f.collection_select :geographical_amplitude, @settings.environmental_options[:geo_amplitude],
                                      :first, :last, {}, {class: 'form-control', style: 'width:100%'} %>
            </div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Percepción Pública
              </label>
            </div>
            <div class="col-lg-2">
              <%= f.collection_select :public_perception, @settings.environmental_options[:pub_perception],
                                      :first, :last, {}, {class: 'form-control', style: 'width:100%'} %>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Reversibilidad
              </label>
            </div>
            <div class="col-lg-2">
              <%= f.collection_select :reversibility, @settings.environmental_options[:reversibility],
                                      :first, :last, {}, {class: 'form-control', style: 'width:100%'} %>
            </div>
          </div>

          <div class="row form-group" style="margin: 30px 10px;height:400px">
            <%= f.text_area :comments, class: 'form-control', style: 'width:100%;height:300px', data: {provider: 'summernote'} %>
          </div>

          <div id="associables-container"></div>

        </div>

      </div>
    </section>


    <!-- Confirmation modal -->
    <div id="confirmation-modal" class="modal fade modal-size-large" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" id="confirmation-modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="confirmation-modal-title">Está Seguro?</h4>
          </div>

          <div class="modal-body" id="confirmation-modal-body">
            <%= text_area :log, :body, class: 'form-control height-150' %>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button class="btn btn-danger width-150 height-50" data-dismiss="modal">Cancelar</button>
              </div>
              <div class="text-right col-md-6">
                <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to risks_path('ambiente') do %>
              Riesgos Ambientales
          <% end %>
        </li>
        <li>
          <%= link_to risk_path(@risk.id) do %>
              <%= @risk.number %>
          <% end %>
        </li>
        <li>
          <span>
            Nueva Medición
          </span>
        </li>
      </ul>
    </div>
<% end %>
