<%= content_for :heading_main do %>
    <div class="margin-left-50">
      <h4 class="text-capitalize">
        <%= Peste.get_all_types[@peste.peste_type] %>
      </h4>
    </div>
<% end %>

<%# Populate all 3 columns of the view with keys & their values %>

<%= content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Nombre:</div>
      <div class="col-lg-8">
        <%= @peste.name %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Estrategia:</div>
      <div class="col-lg-8">
        <%= @peste.strategy %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_3 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Responsable:</div>
      <div class="col-lg-8">
        <%= print_responsible(@peste.responsible_id) %>
      </div>
    </div>
<% end %>



<%= content_for :extra do %>
    <% if @peste.comments? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Descripción</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= raw @peste.comments %>
          </div>
        </div>
    <% end %>

    <% if @peste.references? %>
        <div class="panel">
          <div class="margin-left-30 margin-bottom-30">
            <%= render partial: 'referables/show_all_for', locals: {element: @peste} %>
          </div>
        </div>
    <% end %>

    <% if @peste.revisions? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Revisiones</h5>
          </div>
          <div class="panel-body">
            <div class="row margin-left-20 margin-right-20">
              <div class="table-responsive margin-bottom-10" style="height:300px; overflow: auto">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Fecha</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @peste.revisions.order(revised_at: :desc, created_at: :desc).each do |revision| %>
                      <tr class="revision-row" data-id="<%= revision.id %>" style="cursor: pointer">
                        <td>
                          <%= show_formatted_datetime(revision.revised_at) %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @peste.log_book})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
        <i class="dropdown-inline-button-icon icmn-history"></i>
        Bitácora
      </a>
    </div>

    <div class="dropdown">
      <% files_table = "#{escape_javascript(render partial: 'uploaded_files/modal', locals: {attachments: @peste.attachment_ids})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showAttachments('<%= files_table %>')">
        <i class="dropdown-inline-button-icon icmn-folder-open"></i>
        Adjuntos
      </a>
    </div>

    <div class="dropdown">
      <%= link_to new_peste_revision_path(@peste), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-rulers"></i>
          Revisar
      <% end %>
    </div>


    <div class="dropdown">
      <%= link_to edit_peste_path(@peste), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-pencil"></i>
          Editar
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to peste_index_path do %>
              Estrategias: PESTA
          <% end %>
        </li>
        <li>
          <span>
            <%= @peste.number %>
          </span>
        </li>
      </ul>
    </div>
<% end %>

<% content_for :scripts do %>
    <!-- SWOT's Show Page Scripts -->
    <script type="text/javascript">
        $('.revision-row').click(function () {
            var link = '/estrategias/PESTA/<%= @peste.id %>/revisiones/' + $(this).attr('data-id');

            window.open(link, '_self');
        });
    </script>
<% end %>
