<section class="page-content">
  <div class="page-content-inner">

    <%= form_for(:risk, url: new_risk_path) do |f| %>

      <div class="panel">

        <div class="panel-heading">
          <h3>Nuevo Riesgo de Gestión</h3>
        </div>


        <div class="row form-group margin-left-50">
          <div class="col-lg-1">
            <label class="form-control-label">
              Área
            </label>
          </div>
          <div class="col-lg-2">
            <%= f.collection_select(:area, Position.where(area: true),
                                    :id, :name, {prompt: 'Seleccione Área'}, {class: 'form-control', style: 'width:90%'}) %>
          </div>

          <div class="col-lg-1">
            <label class="form-control-label">
              Proceso
            </label>
          </div>
          <div class="col-lg-2 form-inline">
            <a href="javascript:void(0)" id="process-list">Abrir lista</a>
            <!--<= f.text_field :process, class: 'form-control', style: 'width:90%' >-->
          </div>

          <div class="col-lg-1">
            <label class="form-control-label">
              Responsable
            </label>
          </div>
          <div class="col-lg-2 form-inline">
            <%= f.collection_select(:responsible, Person::User.all,
                                    :id, :name_and_position, {prompt: 'Seleccione Responsable'}, {class: 'form-control', style: 'width:90%'}) %>
          </div>
        </div>

        <div class="row form-group margin-left-50">
          <div class="col-lg-1">
            <label class="form-control-label">
              Actividad
            </label>
          </div>
          <div class="col-lg-2 form-inline">
            <%= f.text_field :activity, class: 'form-control', style: 'width:90%' %>
          </div>

          <div class="col-lg-1">
            <label class="form-control-label">
              Riesgo
            </label>
          </div>
          <div class="col-lg-2 form-inline">
            <%= f.text_field :name, class: 'form-control', style: 'width:90%' %>
          </div>

          <div class="col-lg-1">
            <label class="form-control-label">
              Frecuencia
            </label>
          </div>
          <div class="col-lg-2 form-inline">
            <%= f.collection_select :frequency, frequency_hash, :first, :last, {}, {class: 'form-control', style: 'width:90%'} %>
          </div>
        </div>
        </div>

        <!-- Associations -->
      <div class="panel">

        <div class="panel-heading">
          <h5>Relaciones</h5>
        </div>

        <%= render partial: 'associables/associations_nav' %>

      </div>

      <div class="panel">
        <div class="row form-group margin-left-50 margin-top-30">
          <div class="col-lg-2">
            <label class="form-control-label">
              Bitácora
            </label>
          </div>
          <div class="col-lg-6">
            <%= f.text_area :log_entry, class: 'form-control', style: 'width:90%' %>
          </div>
        </div>
      </div>

      <div class="panel" style="position: fixed; width: 100%; bottom: 0; margin: 0 0 0 -16px  ">
        <div class="row text-center margin-15">
          <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
        </div>
      </div>
    <% end %>

  </div>
</section>

<script>
  $('#process-list').click(function () {
      $.ajax({url: '/processes/risk'})
  });

  $('#process-new').click(function () {
     $.ajax({url: '/processes/risk/new'});
  });

</script>

<div id="table-modal" class="modal fade modal-size-large" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" id="table-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="table-modal-title">?</h4>
      </div>
      <div class="modal-body" id="table-modal-body">
      </div>
    </div>
  </div>
</div>

<div id="new-modal" class="modal fade modal-size-small" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" id="table-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="new-modal-title">?</h4>
      </div>
      <div class="modal-body" id="new-modal-body">
      </div>
    </div>
  </div>
</div>

