<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>RUT</th>
      <th>Nombre</th>
      <th>Rol</th>
      <th>E-mail</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Cargos</th>
    </tr>
<% end %>

<% content_for :table_body do %>
    <% if @person.size != 0 %>
        <% @person.each do |user| %>

            <tr data-href="<%= user_path(user.id) %>">

              <td><%= user.rut %></td>
              <td><%= user.full_name %></td>
              <td><%= user.role %></td>
              <td><%= user.email %></td>
              <td><%= user.phone %></td>
              <td><%= user.address %></td>
              <td><%= user.all_positions %></td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="8"> No se encontraron empleados. </td>
        </tr>
    <% end %>
<% end %>

<% content_for :styles do %>
  <!-- Risks' Index Page Styles -->
  <style>
    <%= significant_style_css %>
  </style>
<% end %>

<% content_for :menu do %>
    <div class="left">
      <div class="header-buttons">
        <div class="dropdown">
          <%= link_to new_user_path, method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-file-plus"></i>
              Nuevo
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
        <span>
          Personas
        </span>
        </li>
      </ul>
    </div>
<% end %>
