<%= content_for :profile_specifics do %>
    <h6>Empleado</h6>
    <dl class="dl-horizontal user-profile-dl">
      <dt>Última conexión</dt>
      <dd><%= @person.last_login_datetime(dt_rb_format(true, false)) %></dd>
      <dt>Fecha Incorporación</dt>
      <dd><%= @person.joined_at_datetime(dt_rb_format(true, false)) %></dd>
      <dt>Tipo de Contrato</dt>
      <dd><%= @person.contract_type %></dd>
    </dl>
<% end %>

<%= content_for :avatar_extra do %>
    <!--<p>
      <%# if @person.online? %>
          <span class="donut donut-success"></span>
          En línea
      <%# else %>
          <span class="donut donut-danger"></span>
          Fuera de linea
      <%# end %>
    </p>-->
<% end %>

<%= content_for :profile_person_type do %>
    Empleado
<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <%= link_to edit_user_path(@person), class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-pencil"></i>
          Editar
      <% end %>
    </div>
<% end %>


<%= content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to 'Personas', users_path %>
        </li>
        <li>
          <span>
            <%= @person.rut %>
          </span>
        </li>
      </ul>
    </div>
<% end %>
