<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>RUT</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>E-mail</th>
      <th>Teléfono</th>
      <th>Dirección</th>
    </tr>
<% end %>

<% content_for :table_body do %>
    <% clients = Person::Client.all %>
    <% if clients.size != 0 %>
        <% clients.each do |client| %>

            <tr data-href="<%= client_path(client) %>">

              <td><%= client.rut %></td>
              <td><%= client.full_name %></td>
              <td><%= client.types.map { |type| type.name }.join(', ') %></td>
              <td><%= client.email %></td>
              <td><%= client.phone %></td>
              <td><%= client.address %></td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="6"> No se encontraron clientes.</td>
        </tr>
    <% end %>
<% end %>

<% content_for :menu do %>
    <div class="dropdown">
      <%= link_to new_client_path, class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-file-plus"></i>
          Nuevo
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
        <span>
          Clientes: Fichas
        </span>
        </li>
      </ul>
    </div>
<% end %>
