<% if element && element.class < Describable && element.attachment_ids? %>
    <% attachments = element.attachment_ids %>

    <%= form_for :attachments_deletion,
                 url: 'delete-attachments', method: :patch do |f| %>

        <table class="table table-hover">
          <thead>
          <tr>
            <th width="1%"></th>
            <th width="1%"></th>
            <th>Nombre</th>
            <th width="30%">Fecha</th>
          </tr>
          </thead>
          <tbody>
          <% if attachments && (files = UploadedFile.all_from(attachments)) && files.size != 0 %>

              <% files.each do |attachment| %>
                  <tr>
                    <td>
                      <%= f.check_box(:commands, {multiple: true}, attachment.id, nil) %>
                    </td>
                    <td>
                      <%= icon_for attachment.upload_content_type %>
                    </td>

                    <td>
                      <%= link_to attachment.upload_file_name,
                                  attachment.upload.url, target: '_blank' %>
                    </td>

                    <td>
                      <%= attachment.created_at.strftime(dt_rb_format(true, false)) %>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <td colspan="4">No se encontraron archivos adjuntos</td>
          <% end %>
          </tbody>
        </table>

        <div class="text-right margin-right-20 margin-bottom-15">
          <%= f.submit 'Eliminar', class: 'btn btn-danger width-25 height-15' %>
        </div>
    <% end %>
<% end %>