<%= content_for :heading_main do %>
    <div class="margin-left-50">
      <h4 class="text-capitalize">
        <%= icon_for(@file.upload_content_type) %>
        <%= link_to 'Descargar', @file.upload.url, target: '_blank' %>
      </h4>
    </div>
<% end %>

<%# Populate all 3 columns of the view with keys & their values %>

<%= content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Nombre:</div>
      <div class="col-lg-8">
        <%= @file.upload_file_name %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Tamaño:</div>
      <div class="col-lg-8">
        <%= number_to_human_size(@file.upload_file_size) %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_3 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Subido:</div>
      <div class="col-lg-8">
        <%= @file.created_at.strftime(dt_rb_format(true, false)) %>
      </div>
    </div>
<% end %>


<%= content_for :extra do %>
    <% if @file.attached_to? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Adjunto en</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <% @file.attached_to.keys.each do |class_name| %>
                <%# !! CHANGE THIS BEFORE PRODUCTION !! %>
                <% klass = class_name.constantize %>

                <div id="<%= class_name.gsub('::', '_') %>">
                  <strong>
                    <%= klass.display_name %>:
                  </strong>
                  <% @file.get_all_attached_to(klass, class_name).each do |element| %>
                      <%= link_to(element.display_name, element) %> //
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to uploaded_files_path do %>
              Documentos: Archivos
          <% end %>
        </li>
        <li>
          <span>
            <%= @file.upload_file_name %>
          </span>
        </li>
      </ul>
    </div>
<% end %>