<section class="page-content">
  <div class="page-content-inner">
    <%= form_for @measurement, as: :measurement, url: risk_path(@risk), method: :patch do |f| %>

        <div class="panel">

          <%= f.hidden_field :type, value: 'operational' %>

          <%= render partial: 'associables/associations_nav', locals: {element: 'measurement'} %>

          <div class="row form-group margin-left-50">

            <div class="col-lg-1">
              <label class="form-control-label">
                Fecha de medición
              </label>
            </div>
            <div class="col-lg-2">
              <div class='input-group date' id='date-picker'>
                <%= f.text_field :measured_at, class: 'form-control', data: {date_format: dt_form_format}%>
                <span class="input-group-addon">
                  <i class="icmn-calendar"></i>
                </span>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#date-picker').datetimepicker({
                          locale: moment.locale('es'),
                          format: '<%= dt_form_format %>',
                          defaultDate: Date.now(),
                          maxDate: Date.now(),
                          timeZone: '<% server_timezone %>',
                          icons: {
                              time: "fa fa-clock-o",
                              date: "fa fa-calendar",
                              up: "fa fa-arrow-up",
                              down: "fa fa-arrow-down"
                          }
                      });
                  });
              </script>
            </div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Probabilidad
              </label>
            </div>
            <div class="col-lg-1 form-inline">
              <%= f.number_field :probability, value: 0, within: 0..100, class: 'form-control', style: 'width:75px' %> %
            </div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Impacto
              </label>
            </div>
            <div class="col-lg-1">
              <%= f.collection_select(:impact, Settings::RiskSettings.first.operational_options[:impact],
                                      :first, :last, {}, {class: 'form-control'}) %>
            </div>
          </div>

          <div class="row form-group margin-left-50">
            <div class="col-lg-1">
              <label class="form-control-label">Comentarios</label>
            </div>
            <div class="col-lg-3">
              <%= f.text_area :comments, class: 'form-control', style: 'width:100%' %>
            </div>
          </div>

        </div>

        <div id="associations-modal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body" id="associations-modal-body">
              </div>
              <!--<div class="modal-footer"></div>-->
            </div>

          </div>
        </div>

        <div class="panel" style="position: fixed; width: 100%; bottom: 0; margin: 0 0 0 -16px  ">
          <div class="row text-center margin-15">
            <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
          </div>
        </div>
    <% end %>
  </div>
</section>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to risks_path('gestion') do %>
              Riesgos Operacionales
          <% end %>
        </li>
        <li>
          <%= link_to risk_path(@risk.id) do %>
              <%= @risk.number %>
          <% end %>
        </li>
        <li>
          <span>
            Editar Medición (<%= @measurement.measured_at.strftime(dt_rb_format(false, false)) %>)
          </span>
        </li>
      </ul>
    </div>
<% end %>