<section class="page-content">
  <div class="page-content-inner">

    <%= form_for @risk, as: :risk, url: risk_path(@risk), method: :patch do |f| %>

        <div class="panel">

          <div class="panel-heading">
            <h3>Editar Riesgo de Gestión</h3>
          </div>


          <div class="row form-group margin-left-50">
            <div class="col-lg-1">
              <label class="form-control-label">
                Área
              </label>
            </div>
            <div class="col-lg-2 input-group margin-right-20" id="area-in">
              <%= text_field :extra, :area_name, class: 'form-control', value: Position.find(@risk.position_id).name, readonly: true %>
              <span class="input-group-addon" style="cursor: pointer" id="area-list">
              <i class="icmn-pencil5"></i>
            </span>
              <%= f.hidden_field :position_id, class: 'form-control-hidden' %>
            </div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Proceso
              </label>
            </div>
            <div class="col-lg-2 input-group margin-right-20" id="process-picker">
              <%= text_field :raw, :process_name, class: 'form-control', value: BusinessProcess.find(@risk.process_id).name, readonly: true %>
              <span class="input-group-addon" style="cursor: pointer" id="process-list">
              <i class="icmn-pencil5"></i>
            </span>
            </div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Responsable
              </label>
            </div>
            <div class="col-lg-2 input-group margin-right-20" id="responsible-in">
              <%= text_field :extra, :responsible_name, class: 'form-control', value: Person::User.find(@risk.responsible_id).full_name, readonly: true %>
              <span class="input-group-addon" style="cursor: pointer" id="responsible-list">
              <i class="icmn-pencil5"></i>
            </span>
              <%= f.hidden_field :responsible_id, class: 'form-control-hidden' %>
            </div>
          </div>

          <div class="row form-group margin-left-50">
            <div class="col-lg-1">
              <label class="form-control-label">
                Actividad
              </label>
            </div>
            <div class="col-lg-2 margin-right-20">
              <%= f.text_field :activity, class: 'form-control' %>
            </div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Riesgo
              </label>
            </div>
            <div class="col-lg-2 margin-right-20">
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Frecuencia
              </label>
            </div>
            <div class="col-lg-2 form-inline">
              <%= f.collection_select :measurement_frequency, frequency_hash, :first, :last, {}, {class: 'form-control', style: 'width:100%'} %>
            </div>
          </div>
        </div>

        <!-- Associations -->
        <div class="panel">

          <div class="panel-heading">
            <h5>Relaciones</h5>
          </div>

          <%= render partial: 'associables/associations_nav', locals: {element: 'risk'} %>
        </div>

        <div class="panel">
          <div class="row form-group margin-left-50 margin-top-30">
            <div class="col-lg-2">
              <label class="form-control-label">
                Bitácora
              </label>
            </div>
            <div class="col-lg-6">
              <%= text_area :raw, :log_entry, class: 'form-control', style: 'width:90%' %>
            </div>
          </div>
        </div>

        <div class="panel" style="position: fixed; width: 100%; bottom: 0; margin: 0 0 0 -16px  ">
          <div class="row text-center margin-15">
            <%= f.submit 'Guardar', class: 'btn btn-primary width-150 height-50' %>
          </div>
        </div>
    <% end %>

  </div>
</section>

<script>
    $('#process-list').click(function () {
        $.ajax({url: '/processes/risk'})
    });

    $('#process-new').click(function () {
        $.ajax({url: '/processes/risk/new'});
    });

    $('#responsible-list').click(function () {
        $('#table-modal-title').html('Seleccionar Responsable');
        $.ajax({url: '/associables/single_responsible-in/Person::User'});
    });

    $('#area-list').click(function () {
        $('#table-modal-title').html('Seleccionar Área');
        $.ajax({url: '/associables/single_area-in/Position'});
    });

</script>
