<%= form_for @risk, as: :risk, url: edit_risk_path(@risk), method: :patch do |f| %>


    <section class="page-content">
      <div class="page-content-inner">

        <div class="panel">
          <%= render partial: 'associables/associations_nav', locals: {element: 'risk'} %>

          <div class="row form-group margin-left-50">
            <div class="col-lg-1">
              <label class="form-control-label">
                Norma
              </label>
            </div>
            <div class="col-lg-5 input-group" id="standard-in">
              <%= text_field :extra, :standard_name, class: 'form-control', readonly: true,
                             value: @risk.get_standard_name %>
              <span class="input-group-addon" style="cursor: pointer">
              <i class="icmn-pencil5"></i>
            </span>
              <%= f.hidden_field :standard_id, class: 'form-control-hidden standard-input' %>
              <%= f.hidden_field :article_id, class: 'form-control-hidden article-input' %>
            </div>
          </div>

          <div class="row form-group margin-left-50">
            <div class="col-lg-1">
              <label class="form-control-label">
                Responsable
              </label>
            </div>
            <div class="col-lg-2 input-group margin-right-20" id="responsible-in">
              <%= text_field :extra, :responsible_name, class: 'form-control', readonly: true,
                             value: Person::User.find(@risk.responsible_id).first_last_name %>
              <span class="input-group-addon" style="cursor: pointer">
                <i class="icmn-pencil5"></i>
              </span>
              <%= f.hidden_field :responsible_id, class: 'form-control-hidden' %>
            </div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Frecuencia
              </label>
            </div>
            <div class="col-lg-2 form-inline">
              <%= f.collection_select :measurement_frequency, frequency_hash,
                                      :first, :last, {}, {class: 'form-control', style: 'width:90%'} %>
            </div>
          </div>

          <div class="row form-group" style="margin: 30px 10px;height:400px">
            <%= f.text_area :comments, class: 'form-control', data: {provider: 'summernote'} %>
          </div>

          <div id="associables-container"></div>

        </div>
      </div>
    </section>

    <!-- Confirmation modal -->
    <div id="confirmation-modal" class="modal fade modal-size-large" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" id="confirmation-modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="confirmation-modal-title">Está Seguro?</h4>
          </div>

          <div class="modal-body" id="confirmation-modal-body">
            <%= text_area :log, :body, class: 'form-control height-150' %>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button class="btn btn-danger width-150 height-50" data-dismiss="modal">Cancelar</button>
              </div>
              <div class="text-right col-md-6">
                <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>

<%= content_for :scripts do %>
    <script>
        $('#responsible-in').click(function () {
            $('#table-modal-title').html('Seleccionar Responsable');
            $.ajax({url: '/associables/single_responsible-in/Person::User'});
        });

        $('#standard-in').click(function () {
            $('#table-modal-title').html('Seleccionar Norma');
            $.ajax({url: '/associables/single_standard-in/Standard'});
        });
    </script>
<% end %>

<%= content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to risks_path('norma') do %>
              Riesgos Normativos
          <% end %>
        </li>
        <li>
          <%= link_to risk_path(@risk.id) do %>
              <%= @risk.number %>
          <% end %>
        </li>
        <li>
          <span>
            Editar
          </span>
        </li>
      </ul>
    </div>
<% end %>