<%= form_for(@audit, as: :audit,
             url: edit_audit_path(@program, @audit), method: :patch) do |f| %>

    <section class="page-content">
      <div class="page-content-inner">

        <div class="panel">
          <%= render partial: 'referables/references_nav' %>

          <div class="row form-group margin-left-35 margin-right-15">
            <div class="col-lg-1">
              <label class="form-control-label">
                Nombre
              </label>
            </div>
            <div class="col-lg-3">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Fecha
              </label>
            </div>
            <div class="col-lg-3">
              <div class='input-group date date-picker' id='date-picker'>
                <%= text_field :raw, :audited_at, class: 'form-control',
                               data: {format: dt_form_format(true), max: 0},
                               value: @audit.audited_at.to_i %>
                <span class="input-group-addon">
                  <i class="icmn-calendar"></i>
                </span>
              </div>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Auditor Lider
              </label>
            </div>
            <div class="col-lg-3 input-group" id="master-auditor-in">
              <%= text_field :extra, :responsible_name, class: 'form-control', readonly: true,
                             value: print_responsible(@audit.master_auditor_id) %>
              <span class="input-group-addon" style="cursor: pointer">
                <i class="icmn-pencil5"></i>
              </span>
              <%= f.hidden_field :master_auditor_id, class: 'form-control-hidden',
                                 value: @audit.master_auditor_id %>
            </div>
          </div>

        </div>

        <div class="panel" style="width: 100%; padding: 20px 15px">
          <div class="row" style="font-weight: bold">
            <div class="col-lg-3">Área</div>
            <div class="col-lg-3">Auditor</div>
            <div class="col-lg-3">Localidad</div>
            <div class="col-lg-3">Auditado</div>
          </div>
          <div class="row">
            <div class="col-lg-3" id="rows-area-in">
              <%= text_field :extra, :area_name, class: 'form-control', readonly: true %>
            </div>
            <div class="col-lg-3" id="rows-auditor-in">
              <%= text_field :extra, :auditor_name, class: 'form-control', readonly: true %>
            </div>
            <div class="col-lg-3" id="rows-location-in">
              <%= text_field :extra, :location_name, class: 'form-control', readonly: true %>
            </div>
            <div class="col-lg-3" id="rows-audited-in">
              <%= text_field :extra, :audited_name, class: 'form-control', readonly: true %>
            </div>
          </div>

          <div id="audited-tables"></div>
        </div>

        <div class="row is-flex">
          <div class="col-lg-5">
            <div class="panel">
              <%= render partial: 'uploaded_files/edit_attachments',
                         locals: {element: nil, form: f} %>
            </div>
          </div>

          <div class="col-lg-1"></div>

          <div class="col-lg-6">
            <div class="panel" style="height: 100%">
              <div class="panel-heading">
                <h5>
                  Referencias
                </h5>
              </div>

              <div class="panel-body">
                <div id="references-container" style="margin: 0 30px 10px 30px">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel" style="width: 100%">
          <div class="panel-body">
            <div class="row form-group" style="margin: 30px 10px;height:400px">
              <%= f.text_area :comments, class: 'form-control', data: {provider: 'summernote'} %>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Confirmation modal -->
    <div id="confirmation-modal" class="modal fade modal-size-large" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" id="confirmation-modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="confirmation-modal-title">Está Seguro?</h4>
          </div>

          <div class="modal-body" id="confirmation-modal-body">
            <%= text_area :log, :body, class: 'form-control height-150' %>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button class="btn btn-danger width-150 height-50" data-dismiss="modal">Cancelar</button>
              </div>
              <div class="text-right col-md-6">
                <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<%= content_for :scripts do %>
    <script>
        let auditor = {};
        let area = {};

        let localidad = '';

        let peopleIdx = {};
        let rowsIdx = {};

        function areaElementGenerator(target, klass, id, name) {
            target.find('.form-control').val(name);

            area['name'] = name;
            area['id'] = id;
        }

        function auditorElementGenerator(target, klass, id, name) {
            target.find('.form-control').val(name);
            auditor['id'] = id;
            auditor['name'] = name
        }

        function auditedElementGenerator(target, klass, id, name) {
            target.find('.form-control').val(name);

            initializePersonItemsArea(id, name);
        }

        function elementElementGenerator(target, klass, id, name) {
            let classInfo = klass.split('#');
            let auditedId = classInfo[0];

            addItem(target, auditedId, currentOptions['klass'], currentOptions['modalTitle'], id, name);
        }

        $('#master-auditor-in').click(function () {
            setOptions('Person::User', 'Auditor Lider', false, 'audit_master_auditor', $(this));
            renderAndShowReferencesModal(
                {
                    belongsTo: '<%= Settings::PeopleSetting.first.audit_position_id %>'
                }
            );
        });

        $('#rows-area-in').click(function () {
            setOptions('Position', 'Área', false, 'rows_area', $(this));
            setElementGenerator(areaElementGenerator);

            renderAndShowReferencesModal('area');
        });

        $('#rows-auditor-in').click(function () {
            if (Object.keys(area).length === 0) {
                return;
            }
            setOptions('Person::User', 'Auditor', false, 'rows_auditor', $(this));
            setElementGenerator(auditorElementGenerator);

            renderAndShowReferencesModal(
                {
                    belongsTo: '<%= Settings::PeopleSetting.first.audit_position_id %>',
                    notFromArea: area['id']
                }
            );
        });

        $('#rows-audited-in').click(function () {
            if (Object.keys(auditor).length === 0) {
                return;
            }
            setOptions('Person::User', 'Auditado', false, 'rows_auditor', $(this));
            setElementGenerator(auditedElementGenerator);

            renderAndShowReferencesModal({belongsToArea: area['id'], isNot: auditor['id']});
        });

        $(document).ready(function() {
            let personItemsArea = '';

            <% items = @user.id == @audit.master_auditor_id ? @audit.items : @audit.items.where(auditor_id: @user.id) %>
            <% items.each do |item| %>
                <% audited_id = item.audited_id %>
                <% klass = item.klass %>

                personItemsArea = $('#personItemsArea_<%= audited_id %>');
                if (personItemsArea.length === 0) {
                    initializePersonItemsArea(
                        '<%= audited_id %>',
                        '<%= print_responsible(audited_id) %>',
                        {
                            area_id: '<%= item.area_id %>',
                            location: '<%= item.location %>',
                            auditor_id: '<%= item.auditor_id %>',
                            hour: parseInt('<%= item.hour %>')
                        }
                    );
                }

                addItem(
                    $('#<%= audited_id %>_table'),
                    '<%= audited_id %>',
                    '<%= klass %>',
                    '<%= klass.constantize.display_name %>',
                    '<%= item.element_id %>',
                    '<%= klass.constantize.find(item.element_id).display_name %>',
                    '<%= item.requirement %>',
                    '<%= item.id %>'
                );

            <% end %>
        });

        function initializePersonItemsArea(id, name, presetValues) {
            peopleIdx[id] = Object.keys(peopleIdx).length;

            let values = {};
            if (presetValues === undefined) {
                values['area_id'] = area['id'];
                values['location'] = localidad;
                values['auditor_id'] = auditor['id'];
                values['hour'] = '';
            } else {
                values = presetValues;
            }

            let tables = $('#audited-tables');

            if (tables.find(`#personItemsArea_${id}`).length !== 0) {
                return;
            }

            tables.append(
                `<div style="padding: 15px 50px; margin: 20px 0; width: 100%; border: 1px solid #aaaaaa"
                      id="personItemsArea_${id}">
  <input type="hidden"
         name="person_${peopleIdx[id]}[area_id]" id="person_${peopleIdx[id]}_area_id"
         value="${values['area_id']}">
  <input type="hidden"
         name="person_${peopleIdx[id]}[location]" id="person_${peopleIdx[id]}_location"
         value="${values['location']}">
  <input type="hidden"
         name="person_${peopleIdx[id]}[auditor_id]" id="person_${peopleIdx[id]}_auditor_id"
         value="${values['auditor_id']}">
  <input type="hidden"
         name="person_${peopleIdx[id]}[audited_id]" id="person_${peopleIdx[id]}_audited_id"
         value="${id}">
  <h6 style="display: inline; padding-right: 50px">${name}</h6>
  Hora:
  <input min="0" max="23" class="form-control inline" type="number"
         name="person_${peopleIdx[id]}[hour]" id="person_${peopleIdx[id]}_hour"
         style="width: 75px; display: inline; margin-left: 10px" value="${values['hour']}">
  <table id="${id}_table" width="100%">
    <thead>
      <tr>
        <th>Tipo Elemento</th>
        <th>Elemento</th>
        <th>Requisito</th>
        <th width="1%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="33%">
          ${generateSelect(id)}
        </td>
        <td width="33%">
          <div id="person_${peopleIdx[id]}_element_in">
            <input class="form-control" readonly="readonly" type="text"
                   name="extra[${peopleIdx[id]}][element_input]"
                   id="extra_person_${peopleIdx[id]}_element_input">
          </div>
        </td>
        <td>
        </td>
    </tr>
  </tbody>
</table>
</div>`);
            rowsIdx[id] = 0;

            $(`#person_${peopleIdx[id]}_element_in`).click(function () {

                let classOptions = $(`#extra_${id}_klass`);

                let classType = classOptions.val().split('#');
                let className = classOptions.find('option:selected').text();

                setOptions(classType[0], className, true, `${id}#${classType[0]}`, $(`#${id}_table`));
                setElementGenerator(elementElementGenerator);

                renderAndShowReferencesModal(classType.length === 2 ? classType[1] : '');
            });
        }

        function addItem(table, auditedId, classType, className, elementId, elementName, requirement, itemId) {
            table.append(
                `<tr>
  <td>
    ${className}
    <input name="person_${peopleIdx[auditedId]}[item_${rowsIdx[auditedId]}][klass]"
           id="person_${peopleIdx[auditedId]}_item_${rowsIdx[auditedId]}_klass"
           type="hidden" value="${classType}">
  </td>
  <td>
    ${elementName}
    <input name="person_${peopleIdx[auditedId]}[item_${rowsIdx[auditedId]}][element_id]"
           id="person_${peopleIdx[auditedId]}_item_${rowsIdx[auditedId]}_element_id"
           type="hidden" value="${elementId}">
  </td>
  <td>
    <input name="person_${peopleIdx[auditedId]}[item_${rowsIdx[auditedId]}][requirement]"
           id="person_${peopleIdx[auditedId]}_item_${rowsIdx[auditedId]}_requirement"
           type="text" class="form-control"
           value="${requirement === undefined ? '' : requirement}">
  </td>
  <td>
  ${itemId === undefined ? '' : `
    <input name="person_${peopleIdx[auditedId]}[item_${rowsIdx[auditedId]}][id]"
           id="person_${peopleIdx[auditedId]}_item_${rowsIdx[auditedId]}_id"
           type="hidden"
           value="${itemId}">`}
  </td>
</tr>`
            );

            rowsIdx[auditedId]++;
        }

        function generateSelect(id) {
            return `<select class="form-control" name="extra[${id}][klass]" id="extra_${id}_klass">
  <option style="font-weight:bold" disabled="disabled" value="tasks">Tareas</option>
  <option style="font-weight:bold" disabled="disabled" value="betterment">Mejora</option>
  <option style="font-weight:bold" disabled="disabled" value="analysis">Análisis</option>
  <option style="font-weight:bold" disabled="disabled" value="employees">Personas</option>
  <option style="font-weight:bold" disabled="disabled" value="clients">Clientes</option>
  <option style="font-weight:bold" disabled="disabled" value="providers">Proveedores</option>
  <option style="font-weight:bold" disabled="disabled" value="assets">Activos</option>
  <option style="font-weight:bold" disabled="disabled" value="planning">Planificación</option>
  <option style="font-weight:bold" disabled="disabled" value="documents">Documentos</option>
  <option style="font-weight:bold" disabled="disabled" value="strategies">Estrategias</option>
  <option value="Swot">FODA</option>
  <option value="Peste">PESTA</option>
  <option value="ConcernedParty">Partes Interesadas</option>
  <option value="Objective">Objetivos</option>
  <option value="BusinessProcess">Procesos</option>
  <option value="Communication">Comunicación</option>
  <option style="font-weight:bold" disabled="disabled" value="risks">Riesgos</option>
  <option value="Risk::OperationalRisk">Riesgos Operacionales</option>
  <option value="Risk::EnvironmentalRisk">Riesgos Ambientales</option>
  <option value="Risk::SafetyRisk">Riesgos Seguridad</option>
  <option value="Risk::RuleRisk#standard">Riesgos Normativos</option>
  <option value="Risk::RuleRisk#law">Riesgos Legales</option>
</select>`
        }
    </script>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to 'Mejora: Auditorías', audit_programs_path %>
        </li>
        <li>
          <%= link_to "Programa: #{@program.number}" , @program %>
        </li>
        <li>
          <%= link_to @audit.number , audit_path(@program, @audit)%>
        </li>
        <li>
          <span>
            Editar
          </span>
        </li>
      </ul>
    </div>
<% end %>
