<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>Nombre</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Completado</th>
    </tr>
<% end %>
<% content_for :table_body do %>
    <% audits = @program.audits.order_by(created_at: :asc) %>
    <% if audits.size != 0 %>
        <% audits.each do |audit| %>

            <tr data-href="<%= audit_path(@program, audit) %>">

              <td>
                <div class="expand-collapse">+</div>
                <%= audit.name %>
              </td>
              <td>
                <%# show_formatted_datetime(program.from) %>
              </td>
              <td>
                <%# show_formatted_datetime(program.to) %>
              </td>
              <td>
                <%# program.completion_percentage + '%' %>
              </td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="4"> No se encontraron auditorías en este programa.</td>
        </tr>
    <% end %>
<% end %>

<% content_for :menu do %>
    <div class="dropdown">
      <%= link_to new_audit_path, method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-file-plus"></i>
          Nuevo
      <% end %>
    </div>
<% end %>

<% content_for :styles do %>
    <!-- Audit Programs' Index Page Styles -->
    <style>
      <%# significant_style_css %>
    </style>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to 'Mejora: Auditorías', audit_programs_path %>
        </li>
        <li>
          <span>
            <%= @program.number %>
          </span>
        </li>
      </ul>
    </div>
<% end %>
