<%= form_for(:audit, url: new_audit_path) do |f| %>

    <section class="page-content">
      <div class="page-content-inner">

        <div class="panel">
          <%= render partial: 'referables/references_nav' %>

          <div class="row form-group margin-left-35 margin-right-15">
            <div class="col-lg-1">
              <label class="form-control-label">
                Nombre
              </label>
            </div>
            <div class="col-lg-3">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Fecha
              </label>
            </div>
            <div class="col-lg-3">
              <div class='input-group date date-picker' id='date-picker'>
                <%= text_field :raw, :audited_at, class: 'form-control',
                               data: {format: dt_form_format(true), max: 0},
                               value: DateTime.now.to_i %>
                <span class="input-group-addon">
                  <i class="icmn-calendar"></i>
                </span>
              </div>
            </div>
          </div>

        </div>

        <div class="row is-flex">
          <div class="col-lg-5">
            <div class="panel">
              <%= render partial: 'uploaded_files/edit_attachments',
                         locals: {element: nil, form: f} %>
            </div>
          </div>

          <div class="col-lg-1"></div>

          <div class="col-lg-6">
            <div class="panel" style="height: 100%">
              <div class="panel-heading">
                <h5>
                  Referencias
                </h5>
              </div>

              <div class="panel-body">
                <div id="references-container" style="margin: 0 30px 10px 30px">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel" style="width: 100%">
          <div class="panel-body">
            <div class="row form-group" style="margin: 30px 10px;height:400px">
              <%= f.text_area :comments, class: 'form-control', data: {provider: 'summernote'} %>
            </div>
          </div>
        </div>

        <div class="panel" style="width: 100%; padding: 20px 15px">
          <table width="100%">
            <thead>
            <tr>
              <th>Área</th>
              <th>Auditor</th>
              <th>Localidad</th>
              <th>Auditado</th>
              <th>Hora</th>
              <th>Tipo Elemento</th>
              <th>Elemento</th>
              <th>Requisito</th>
            </tr>
            </thead>
            <tbody id="audit-table">
            <tr>
              <td>
                <div id="rows-area-in">
                  <%= text_field :extra, :area_name, class: 'form-control', readonly: true %>
                </div>
              </td>
              <td>
                <div id="rows-auditor-in">
                  <%= text_field :extra, :auditor_name, class: 'form-control', readonly: true %>
                </div>
              </td>
              <td>
                <div id="rows-location-in">
                  <%= text_field :extra, :location_name, class: 'form-control', readonly: true %>
                </div>
              </td>
              <td>
                <div id="rows-audited-in">
                  <%= text_field :extra, :audited_name, class: 'form-control', readonly: true %>
                </div>
              </td>
              <td>
                <div id="rows-hour-in">
                  <%= number_field :extra, :hour_name, min: 0, max: 23, class: 'form-control' %>
                </div>
              </td>
              <td>
                <div id="rows-element-type-in">
                  <%= select :extra, :element_type_in, nav_select, {disabled: nav_select_disabled, selected: nil}, {class: 'form-control'} %>
                </div>
              </td>
              <td>
                <div id="rows-element-in">
                  <%= text_field :extra, :element_name, class: 'form-control', readonly: true %>
                </div>
              </td>
              <td>
                <div id="rows-hour-in">
                  <%= text_field :extra, :requirement, class: 'form-control' %>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
    </section>

    <!-- Confirmation modal -->
    <div id="confirmation-modal" class="modal fade modal-size-large" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" id="confirmation-modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="confirmation-modal-title">Está Seguro?</h4>
          </div>

          <div class="modal-body" id="confirmation-modal-body">
            <%= text_area :log, :body, class: 'form-control height-150' %>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button class="btn btn-danger width-150 height-50" data-dismiss="modal">Cancelar</button>
              </div>
              <div class="text-right col-md-6">
                <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<%= content_for :scripts do %>
    <script>
        var elementType = {};
        var auditor = {};
        var audited = {};
        var area = {};
        var hour = 0;
        var localidad = '';
        var requirement='';

        var rowsIdx = 0;

        function areaElementGenerator(target, klass, id, name) {
            target.find('.form-control').val(name);

            area['name'] = name;
            area['id'] = id;
        }

        function auditorElementGenerator(target, klass, id, name) {
            target.find('.form-control').val(name);
            auditor['id'] = id;
            auditor['name'] = name
        }

        function auditedElementGenerator(target, klass, id, name) {
            target.find('.form-control').val(name);
            audited['id'] = id;
            audited['name'] = name;
        }

        function rowsElementGenerator(target, klass, id, name) {
            target.append(
                `<tr>
  <td>
    ${area['name']}
    <input type="hidden" name="audit_item_${rowsIdx}[area_id]" id="audit_item_${rowsIdx}_area_id" value="${area['id']}">
  </td>
  <td>
    ${auditor['name']}
    <input type="hidden" name="audit_item_${rowsIdx}[auditor_id]" id="audit_item_${rowsIdx}_auditor_id" value="${auditor['id']}">
  </td>
  <td>
    ${localidad}
    <input type="hidden" name="audit_item_${rowsIdx}[location]" id="audit_item_${rowsIdx}_location" value="${localidad}">
  </td>
  <td>
    ${audited['name']}
    <input type="hidden" name="audit_item_${rowsIdx}[audited_id]" id="audit_item_${rowsIdx}_audited_id" value="${audited['id']}">
  </td>
  <td>
    ${hour}
    <input type="hidden" name="audit_item_${rowsIdx}[hour]" id="audit_item_${rowsIdx}_hour" value="${hour}">
  </td>
  <td>
    ${elementType['name']}
    <input type="hidden" name="audit_item_${rowsIdx}[klass]" id="audit_item_${rowsIdx}_klass" value="${elementType['klass']}">
  </td>
  <td>
    ${name}
    <input type="hidden" name="audit_item_${rowsIdx}[element_id]" id="audit_item_${rowsIdx}_element_id" value="${id}">
  </td>
  <td>
    <input type="text" name="audit_item_${rowsIdx}[requirement]" id="audit_item_${rowsIdx}_requirement" class="form-control"
           value="${requirement}">
  </td>
</tr>`
            );
            rowsIdx++;
        }

        $('#rows-area-in').click(function () {
            setOptions('Position', 'Área', false, 'rows_area', $(this));
            setElementGenerator(areaElementGenerator);

            renderAndShowReferencesModal('area');
        });

        $('#rows-auditor-in').click(function () {
            if (Object.keys(area).length === 0) {
                return;
            }
            setOptions('Person::User', 'Auditor', false, 'rows_auditor', $(this));
            setElementGenerator(auditorElementGenerator);

            renderAndShowReferencesModal(
                {
                    belongsTo: '<%= Settings::PeopleSetting.first.audit_position_id %>',
                    notFromArea: area['id']
                }
            );
        });

        $('#rows-audited-in').click(function () {
            if (Object.keys(auditor).length === 0) {
                return;
            }
            setOptions('Person::User', 'Auditado', false, 'rows_auditor', $(this));
            setElementGenerator(auditedElementGenerator);

            renderAndShowReferencesModal({belongsToArea: area['id'], isNot: auditor['id']});
        });

        $('#rows-element-type-in').find('.form-control').change(function() {
            elementType['klass'] = $(this).val();
            elementType['name'] = $(this).find('option:selected').text();
        });

        $('#rows-hour-in').find('.form-control').change(function() {
            hour = $(this).val();
        });

        $('#rows-requirement-in').find('.form-control').change(function() {
            requirement = $(this).val();
        });

        $('#rows-element-in').click(function() {
            if (Object.keys(area).length === 0 ||
                Object.keys(auditor).length === 0 ||
                Object.keys(audited).length === 0 ||
                Object.keys(elementType).length === 0) {
                return;
            }

            let klassOptions = elementType['klass'].split('#');

            setOptions(klassOptions[0], elementType['name'], true, 'rows_' + klassOptions[0], $('#audit-table'));
            setElementGenerator(rowsElementGenerator);

            renderAndShowReferencesModal(klassOptions.length === 2 ? klassOptions[1] : '');
        });
    </script>
<% end %>

<%= content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to 'Mejora: Auditoría', audit_programs_path %>
        </li>
        <li>
          <%= link_to @program.number, audits_path(@program) %>
        </li>
        <li>
          <span>
            Nuevo
          </span>
        </li>
      </ul>
    </div>
<% end %>
