<%= content_for :heading_main do %>
<% end %>

<%# Populate all 3 columns of the view with keys & their values %>

<%= content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Nombre:</div>
      <div class="col-lg-8">
        <%= @folder.name %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Localidad:</div>
      <div class="col-lg-8">
        <%= @folder.location %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_3 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Última Reunión:</div>
      <div class="col-lg-8">
        <%= @folder.last_meeting_at(dt_rb_format(true, false)) || '-' %>
      </div>
    </div>
<% end %>



<%= content_for :extra do %>
    <% if @folder.comments? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Descripción</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= raw @folder.comments %>
          </div>
        </div>
    <% end %>

    <div class="row is-flex">
      <div class="col-lg-5">
        <% unless @folder.attachment_ids.empty? %>
            <div class="panel padding-bottom-25">
              <%= render partial: 'uploaded_files/show_attachments',
                         locals: {element: @folder} %>
            </div>
        <% end %>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <% if @folder.references? %>
            <div class="panel padding-bottom-25" style="height: 100%">
              <%= render partial: 'referables/show_all_for',
                         locals: {element: @folder} %>
            </div>
        <% end %>
      </div>
    </div>

    <% if @folder.minutes? %>
        <div class="panel" style="width: 50%">
          <div class="panel-heading">
            <h5>Actas</h5>
          </div>
          <div class="panel-body">
            <div class="row margin-left-20 margin-right-20">
              <div class="table-responsive margin-bottom-10" style="max-height:300px; overflow: auto">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @folder.minutes.order(start_at: :desc, created_at: :desc).each do |minute| %>
                      <tr class="minute-row" data-id="<%= minute.id %>" style="cursor: pointer">
                        <td>
                          <%= minute.name%>
                        </td>
                        <td>
                          <%= show_formatted_datetime(minute.start_at) %>
                        </td>
                        <td>
                          <%= show_formatted_datetime(minute.finish_at) %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @folder.log_book})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
        <i class="dropdown-inline-button-icon icmn-history"></i>
        Bitácora
      </a>
    </div>

    <div class="dropdown">
      <%= link_to new_minute_path(@folder), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-file-plus"></i>
          Nueva Acta
      <% end %>
    </div>


    <div class="dropdown">
      <%= link_to edit_minutes_folder_path(@folder), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-pencil"></i>
          Editar
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to 'Documentos: Actas', minutes_folders_path %>
        </li>
        <li>
          <span>
            <%= @folder.number %>
          </span>
        </li>
      </ul>
    </div>
<% end %>

<% content_for :scripts do %>
    <!-- MinutesFolder's Show Page Scripts -->
    <script type="text/javascript">
        $('.minute-row').click(function () {
            var link = '/documentos/actas/<%= @folder.id %>/' + $(this).attr('data-id');

            window.open(link, '_self');
        });
    </script>
<% end %>
