<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>Ley</th>
      <th>Artículo</th>
      <th>Requerimiento</th>
      <th>Encargado</th>
      <th>Fecha</th>
      <th>Cumplimiento</th>
      <th>Método</th>
      <th>Magnitud</th>
      <th>Significativo</th>
    </tr>
<% end %>

<% content_for :table_body do %>
    <% if @risks.size != 0 %>
        <% @risks.each do |risk| %>

            <% law = Law.find(risk.law_id) %>
            <% article = law.articles.find(risk.article_id)%>

            <% sig = humanize_significant(risk.significant) %>
            <% msrmnt = risk.measurements.order_by(measured_at: :desc, created_at: :desc).first %>

            <tr data-href="<%= risk_path(risk.id) %>">

              <td><%= law.name %></td>
              <td><%= article.name %></td>
              <td><%= article.requirement %></td>

              <td><%= Person::User.find(risk.responsible_id).first_last_name %></td>

              <td><%= msrmnt != nil ? msrmnt.measured_at.strftime(dt_rb_format(false, false)) : '-'%></td>

              <td><%= msrmnt != nil ? (msrmnt.compliance * 100).to_i.to_s + '%' : '-'%></td>
              <td><%= msrmnt != nil ? msrmnt.method : '-'%></td>
              <td><%= msrmnt != nil ? msrmnt.magnitude.round(2) : '-' %></td>

              <td class="<%= 'risk-sig-' + risk.significant.to_s %>"><%= sig %></td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="8"> No se encontraron riesgos de esta clase. </td>
        </tr>
    <% end %>
<% end %>

<% content_for :styles do %>
  <!-- Risks' Index Page Styles -->
  <style>
    <%= significant_style_css %>
  </style>
<% end %>

<% content_for :menu do %>
    <div class="left">
      <div class="header-buttons">
        <div class="dropdown">
          <%= link_to new_risk_path('ley'), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-file-plus"></i>
              Nuevo
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
        <span>
          Riesgos de Ley
        </span>
        </li>
      </ul>
    </div>
<% end %>
