<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>Artículo</th>
      <th>Título</th>
      <th>Requerimiento</th>
      <th>Encargado</th>
      <th>Fecha</th>
      <th>%</th>
    </tr>
<% end %>

<% content_for :table_body do %>
    <% if @risks.size != 0 %>
        <% @risks.each do |risk| %>

            <% msrmnt = risk.measurements.order_by(measured_at: :desc, created_at: :desc).first %>

            <% significance = risk.compliance ? (
            Settings::RiskSettings.first.law_threshold <=> risk.compliance
            ) + 1 : 0 %>

            <tr data-href="<%= risk_path((risk.rule_type == 1 ? 'ley' : 'norma'), risk) %>">

              <td>
                <div class="expand-collapse">+</div>
                <%= risk.numeral %>
              </td>
              <td>
                <%= risk.title %>
              </td>
              <td>
                <%= raw risk.requirement %>
              </td>
              <td>
                <%= Person::User.find(risk.responsible_id).first_last_name %>
              </td>

              <td>
                <%= msrmnt&.measured_at&.strftime(dt_rb_format(false, false)) || '-' %>
              </td>

              <td class="<%= 'sig-' + significance.to_s %>" data-sort="<%= significance %>">
                <%= msrmnt&.show_compliance || '-' %>
              </td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="5"> No se encontraron riesgos de esta clase.</td>
        </tr>
    <% end %>
<% end %>

<% content_for :styles do %>
    <!-- Risks' Index Page Styles -->
    <style>
      <%= significant_style_css %>
    </style>
<% end %>

<% content_for :menu do %>
    <div class="dropdown">
      <%= link_to new_risk_path(@risks.first.rule_id),
                  method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-file-plus"></i>
          Nuevo
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= rule_type_breadcrumb(@risks.first.rule_type) %>
        </li>
        <li>
          <span>
            <%= Rule.find(@risks.first.rule_id).full_name %>
          </span>
        </li>
      </ul>
    </div>
<% end %>