<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
  Activos
<% end %>

<% content_for :table_headers do %>
  <tr>
    <th>Área</th>
    <th>Puesto de Trabajo</th>
    <th>Actividad</th>
    <th>Condición de Operación</th>
    <th>Riesgo</th>
    <th>Agente</th>
    <th>Encargado</th>
    <th>Significativo</th>
    <th>Fecha</th>
    <th>Probabilidad (%)</th>
    <th>Impacto</th>
    <th>Magnitud</th>
  </tr>
<% end %>

<% content_for :table_body do %>
    <% risks = Risk::SafetyRisk.order_by(significant: :desc) %>
    <% if risks.size != 0 %>
    <% risks.each do |risk| %>

      <% sig = humanize_significant(risk.significant) %>
      <% msrmnt = risk.measurements.order_by(measured_at: :desc, created_at: :desc).first %>

      <tr data-href="<%= risk_path(risk.id) %>">

        <td><div class="expand-collapse">+</div><%= Position.find(risk.area_id).name %></td>
        <td><%= Position.find(risk.position_id).name %></td>
        <td><%= risk.activity %></td>
        <td><%= @settings.safety_options[:condition][risk.condition.to_s] %></td>
        <td><%= risk.name %></td>
        <td><%= risk.agent %></td>

        <td><%= Person::User.find(risk.responsible_id).first_last_name %></td>

        <td class="<%= 'risk-sig-' + risk.significant.to_s %>"><%= sig %></td>

        <td><%= msrmnt != nil ? msrmnt.measured_at.strftime(dt_rb_format(false, false)) : '-'%></td>

        <td><%= msrmnt != nil ? (msrmnt.probability * 100).to_i.to_s : '-'%></td>
        <td><%= msrmnt != nil ? msrmnt.impact : '-'%></td>
        <td><%= msrmnt != nil ? msrmnt.magnitude.round(2) : '-' %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="12"> No se encontraron riesgos de esta clase. </td>
    </tr>
  <% end %>
<% end %>

<% content_for :styles do %>
  <!-- Risks' Index Page Styles -->
  <style>
    <%= significant_style_css %>
  </style>
<% end %>

<% content_for :menu do %>
  <div class="left">
    <div class="header-buttons">
      <div class="dropdown">
        <%= link_to new_risk_path('seguridad'), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-file-plus"></i>
          Nuevo
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :breadcrumbs do %>
  <div class="left">
    <ul class="list-unstyled breadcrumb breadcrumb-custom">
      <li>
        <span>
          Riesgos de Seguridad
        </span>
      </li>
    </ul>
  </div>
<% end %>
