<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>Organización</th>
      <th>Norma</th>
      <th>Cumplimiento (%)</th>
    </tr>
<% end %>

<% content_for :table_body do %>
    <% risks = Risk::RuleRisk.collection.aggregate(
        [
            {:$match => {
                rule_type: 2
            }},
            {:$group => {
                _id: '$rule_id',
                average_compliance: {:$avg => '$compliance'}
            }}
        ]
    ) %>
    <% if risks.count != 0 %>
        <% risks.each do |risk| %>

            <% rule = Rule.find(risk[:_id]) %>

            <tr data-href="<%= risks_path(risk[:_id]) %>">
              <td><%= rule.institution %></td>
              <td><%= rule.name %></td>
              <td><%= risk[:average_compliance] %></td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="3">No se encontraron riesgos de esta clase.</td>
        </tr>
    <% end %>
<% end %>

<% content_for :menu do %>
    <div class="left">
      <div class="header-buttons">
        <div class="dropdown">
          <%= link_to new_risk_path('norma'), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-file-plus"></i>
              Nuevo
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
        <span>
          Riesgos Normativos
        </span>
        </li>
      </ul>
    </div>
<% end %>
