<div class="tab-pane active" id="table" role="tabpanel" aria-expanded="false">
  <div class="input-group padding-10 inline" style="width: 80%; overflow: auto">
    <%= text_field :search, :input, placeholder: 'Buscar', class: 'form-control' %>
    <span class="input-group-addon">
      <i class="icmn-search"></i>
    </span>
  </div>
  <div class="table-responsive margin-bottom-30" style="height:300px; overflow:auto; width: auto">
    <table class="table table-hover filterable">
      <thead>
      <tr>
        <th>Nombre</th>
        <th style="width: 70%">Descripción</th>
      </tr>
      </thead>
      <tbody>
      <% if BusinessProcess.count > 0 %>
          <% BusinessProcess.each do |business_process| %>
              <tr class="business_process-row" data-name="<%= business_process.name %>" style="cursor: pointer">
                <td><%= business_process.name %></td>
                <td><%= business_process.description %></td>
              </tr>
          <% end %>
      <% else %>
          <tr>
            <td>No se encontraron procesos</td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="tab-pane" id="new" role="tabpanel" style="height:360px; overflow:auto">
  <%= form_for(:process,
               url: new_business_process_path(format: :json),
               remote: true,
               html: {id: 'new_process'}) do |f| %>
      <div class="form-group padding-left-10">
        <label class="form-control-label">Nombre</label>
        <%= f.text_field :name, class: 'form-control', style: 'width: 80%' %>
        <label class="form-control-label">Descripción</label>
        <%= f.text_area :description, class: 'form-control', style: 'width: 80%' %>
      </div>

      <div class="form-actions text-center">
        <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
      </div>
  <% end %>
</div>

<script>
    $('.business_process-row').click(function () {
        $('#process-in').find('.form-control').val($(this).attr('data-name'));
        $('#table-modal').modal('hide')
    });

    var process_form = $('#new_process');
    process_form.on("ajax:success", function(e, data, status, xhr) {
        console.log(data['process_id']);
    });

    $('.filterable').filterable();
</script>