<% picker_id = (@element.to_s.starts_with?('single') ? @element.to_s.split('_').to_a.last : nil) %>

<div class="tab-pane active" id="table" role="tabpanel" aria-expanded="false">
  <div class="input-group padding-10 inline" style="width: 80%; overflow: auto">
    <%=
      text_field(
        :search,
        :input,
        placeholder: 'Buscar',
        class: 'form-control filterer'
      )
    %>
  </div>
  <div class="table-responsive" style="height:301px; overflow:auto; width: auto">
    <table class="table table-hover filterable">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Frase</th>
        <th>Encargado</th>
      </tr>
      </thead>
      <tbody>
      <% Objective.each do |objective| %>
          <tr class="<%= picker_id.nil? ? 'associable-data-row' : 'user-selectable' %>" data-id="<%= objective.id %>">
            <td id="objective-name"><%= objective.name %></td>
            <td ><%= objective.phrase %></td>
            <td><%= Person::User.find(objective.responsible_id).first_last_name ||  '' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="tab-pane" id="new" role="tabpanel" style="height:360px">
</div>

<script>
    $('.user-selectable').click(function () {
        row = $(this);
        formGroup = $('#<%= picker_id %>');

        formGroup.find('.form-control')
            .val(row.find('#objective-name').html());
        formGroup.find('.form-control-hidden').val(row.attr('data-id'));


        $('#table-modal').modal('hide');
    });

    $('.associable-data-row').click(function () {
        row = $(this);
        container = $('#associables-container');

        selectedId = row.attr('data-id');

        selectedField = container.find('#' + selectedId);

        if (selectedField.length > 0) {
            selectedField.remove();
        } else {
            container.append(
                '<div id="' + selectedId + '">\n' +
                '<input class="form-control-hidden" type="hidden" ' +
                'name="<%= @element %>[associables][objectives][]" id="<%= @element %>_associable_objective" ' +
                'value="' + selectedId + '">\n' +
                '<input class="form-control objective-name" readonly="readonly" type="text" ' +
                'name="associable_objective_display" id="objective_' + selectedId + '_display" ' +
                'value="Objetivo: ' + row.find('#objective-name').html() + '">\n' +
                '</div>'
            );
        }
    });

  $('.filterable').filterable();
</script>
