<%= form_for @planning_activity,
             as: :planning_activity,
             url: edit_planning_activity_path(plan_id: @planning.id,
                                              id: @planning_activity.id),
             method: :patch do |f| %>

    <section class="page-content">
      <div class="page-content-inner">

        <div class="panel">

          <%= render partial: 'referables/references_nav' %>

          <div class="row form-group margin-left-50">
            <div class="col-lg-1">
              <label class="form-control-label">
                Nombre
              </label>
            </div>
            <div class="col-lg-2 margin-right-20">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Descripción
              </label>
            </div>
            <div class="col-lg-2 margin-right-20">
              <%= f.text_field :description, class: 'form-control' %>
            </div>
            <div class="col-lg-1">
              <label class="form-control-label">
                Fecha plazo
              </label>
            </div>
            <div class="col-lg-2">
              <div class='input-group date date-picker' id='date-picker'>
                <%= text_field :raw, :due_at, class: 'form-control',
                               data: {format: dt_form_format(true), max: 0},
                               value: @planning_activity.due_at.to_i %>
                <span class="input-group-addon">
                <i class="icmn-calendar"></i>
              </span>
              </div>
            </div>
          </div>

          <div class="row form-group margin-left-50">
            <div class="col-lg-1">
              <label class="form-control-label">
                Fecha real
              </label>
            </div>
            <div class="col-lg-2">
              <div class='input-group date date-picker' id='date-picker'>
                <%= text_field :raw, :executed_at, class: 'form-control',
                               data: {format: dt_form_format(true), max: 0},
                               value: DateTime.now.to_i %>
                <span class="input-group-addon">
                <i class="icmn-calendar"></i>
              </span>
              </div>
            </div>

            <div class="col-lg-1">
              <label class="form-control-label">
                Progreso
              </label>
            </div>
            <div class="col-lg-1 form-inline">
              <%= number_field :raw, :progress, value: (@planning_activity.progress * 100).round(2),
                               step: :any, within: 0..100,
                               class: 'form-control', style: 'width:75px' %>
              %
            </div>
          </div>

          <div class="row form-group" style="margin: 30px 10px;height:400px">
            <%= f.text_area :comments, class: 'form-control',
                            style: 'width:100%;height:300px', data: {provider: 'summernote'} %>
          </div>

          <div id="references-container"></div>

        </div>

      </div>
    </section>


    <!-- Confirmation modal -->
    <div id="confirmation-modal" class="modal fade modal-size-large" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" id="confirmation-modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="confirmation-modal-title">Está Seguro?</h4>
          </div>

          <div class="modal-body" id="confirmation-modal-body">
            <div class="row">
              <div class="col-md-2">
                <label>Entrada Bitácora</label>
              </div>
              <div class="col-md-9">
                <%= text_area :log, :body, class: 'form-control height-150' %>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button class="btn btn-danger width-150 height-50" data-dismiss="modal">Cancelar</button>
              </div>
              <div class="text-right col-md-6">
                <%= f.submit 'Ingresar', class: 'btn btn-primary width-150 height-50' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @planning_activity.log_book})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
        <i class="dropdown-inline-button-icon icmn-history"></i>
        Bitácora
      </a>
    </div>
<% end %>

<%= content_for :scripts do %>
    <script type="text/javascript">
        function showHistory(bodyContent) {
            $("#history-modal-body").html(bodyContent);
            $("#history-modal").modal();
        }
    </script>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to plannings_path do %>
              Planificación
          <% end %>
        </li>
        <li>
          <%= link_to planning_path(@planning) do %>
              <%= @planning.number %>
          <% end %>
        </li>
        <li>
          <span>
            Editar Actividad
          </span>
        </li>
      </ul>
    </div>
<% end %>