<%= content_for :heading_main do %>

<% end %>

<%# Populate all 3 columns of the view with keys & their values %>

<%= content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Tipo:</div>
      <div class="col-lg-8">
        <%= @communication.presentable_type %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Descripci칩n:</div>
      <div class="col-lg-8">
        <%= @communication.description %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Medio:</div>
      <div class="col-lg-8">
        <%= @communication.medium %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_3 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Medio:</div>
      <div class="col-lg-8">
        <%= @communication.medium %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Responsable:</div>
      <div class="col-lg-8">
        <%= print_responsible @communication.responsible_id %>
      </div>
    </div>
<% end %>

<%= content_for :extra do %>
    <% if @communication.comments? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Descripci칩n</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= raw @communication.comments %>
          </div>
        </div>
    <% end %>

    <% if @communication.references? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Referencias</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= render partial: 'referables/show_all_for', locals: {element: @communication} %>
          </div>
        </div>
    <% end %>
<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @communication.log_book})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
        <i class="dropdown-inline-button-icon icmn-history"></i>
        Bit치cora
      </a>
    </div>

    <div class="dropdown">
      <% files_table = "#{escape_javascript(render partial: 'uploaded_files/modal', locals: {attachments: @communication.attachment_ids})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showAttachments('<%= files_table %>')">
        <i class="dropdown-inline-button-icon icmn-folder-open"></i>
        Adjuntos
      </a>
    </div>

    <div class="dropdown">
      <%= link_to '#', method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-rulers"></i>
          Revisar
      <% end %>
    </div>

    <div class="dropdown">
      <%= link_to edit_communication_path(@communication), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-pencil"></i>
          Editar
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to 'Estrategias: Comunicaci칩n', communications_path %>
        </li>
        <li>
          <span>
            <%= @communication.number %>
          </span>
        </li>
      </ul>
    </div>
<% end %>