<% content_for :page_header do %>
  <h3>Riesgos de Leyes</h3>
<% end %>

<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
  Riesgos Activos
<% end %>

<% content_for :table_headers do %>
  <tr>
    <th>Área</th>
    <th>Proceso</th>
    <th>Actividad</th>
    <th>NC</th>
    <th>Encargado</th>
  </tr>
<% end %>

<% content_for :table_body do %>
  <% if @risks.size != 0 %>
    <% @risks.each do |risk| %>
      <tr data-href="<%= risk_path(risk.id.to_s) %>">

        <td><%= Position.find(risk.position_id).name %></td>

        <td><%= risk.process %></td>

        <td><%= risk.activity %></td>

        <td><%= risk.name %>

        <td><%= Person::User.find(risk.responsible_id).first_last_name %></td>

      </tr>
    <% end %>
  <% else %>
    <tr>
      <td> No se encontraron riesgos de esta clase. </td>
    </tr>
  <% end %>
<% end %>

<% content_for :menu do %>
    <div class="left">
      <div class="header-buttons">
        <div class="dropdown">
          <%= link_to new_risk_path('leyes'), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-file-plus"></i>
              Nuevo
          <% end %>
        </div>
      </div>
    </div>
<% end %>