<section class="page-content">
  <div class="page-content-inner">
    <div class="panel">

      <div class="panel-heading">
        <h3>Nueva Medición de Riesgo</h3>
      </div>

      <%= form_for(:measurement, url: new_risk_measurement_path(@risk.id)) do |f| %>

        <%= f.hidden_field :type, value: 'operational' %>

        <div class="row form-group margin-left-50">
          <div class="col-lg-2">
            <label class="form-control-label">
              Fecha de medición
            </label>
          </div>
          <div class="col-lg-7">
            <div class="form-inline">
              <%= f.datetime_select(:measured_at, dt_select_cl_format, {class: 'form-control', style: 'width:18%'}) %>
            </div>
          </div>
        </div>

        <div class="row form-group margin-left-50">
          <div class="col-lg-2">
            <label class="form-control-label">
              Probabilidad
            </label>
          </div>
          <div class="col-lg-3 form-inline">
            <%= f.number_field :probability, value: 0, within: 0..100, class: 'form-control', style: 'width:75px' %> %
          </div>

          <div class="col-lg-2">
            <label class="form-control-label">
              Impacto
            </label>
          </div>
          <div class="col-lg-3">
            <%= f.collection_select(:impact, {1 => 'good', 2 => 'bad', 3 => 'doomed'}, :first, :last, {}, {class: 'form-control', style: 'width:90%'}) %>
          </div>
        </div>

        <div class="row form-group margin-left-50">
          <div class="col-lg-2">
            <label class="form-control-label">Comentarios</label>
          </div>
          <div class="col-lg-4">
            <%= f.text_area :comments, class: 'form-control', style: 'width:100%' %>
          </div>
        </div>

        <div class="row margin-left-50">
          <div class="form-actions">
            <%= f.submit 'Ingresar', class: 'btn btn-primary width-150' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>



