<%= content_for :heading do %>
  <h3>
    Detalle de Riesgo N.<%= @risk.number %>
    <br>
    <small><%= @risk.id%></small>
  </h3>
  <div class="margin-left-50">
    <h4 class="text-capitalize">
      <% if @risk.significant == 0 %>
        No Significativo
      <% elsif @risk.significant == 1 %>
        <span style="background-color: #a9a900; color: white; padding: 5px 15px"> Significativo </span>
      <% elsif @risk.significant == 2 %>
        <span style="background-color: #8b0000; color: white; padding: 5px 15px"> Significativo </span>
      <% else %>
        No Significativo
      <% end %>
    </h4>
  </div>
<% end %>

<%= content_for :keys do %>
  Proceso:
  <br>
  Actividad:
  <br>
  <strong>
    NC:
  </strong>
  <br>
  <br>
  Responsable:
  <br>
  Frecuencia de medición:
<% end %>

<%= content_for :values do %>
  <%= @risk.process %>
  <br>
  <%= @risk.activity %>
  <br>
  <strong>
    <%= @risk.name %>
  </strong>
  <br>
  <br>
  <%= raw Person::User.find(@risk.res_id).first_last_name %>
  <br>
  <%= @risk.measurement_frequency %>
<% end %>


<%= content_for :body_extra do %>
  <div class="row">
    <div class="table-responsive margin-bottom-30" style="height:300px; overflow:auto">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Probabilidad</th>
            <th>Impacto</th>
            <th>Magnitud</th>
            <th width="50%">Comentarios</th>
          </tr>
        </thead>
        <tbody>
          <% @risk.measurements.order('measured_at DESC').each do |measurement| %>

              <% if measurement.significant == 1 %>
                  <% bgcolor = '#a9a900' %>
                  <% fontcolor = 'color:#ffffff' %>
              <% elsif measurement.significant == 2 %>
                  <% bgcolor = '#8b0000' %>
                  <% fontcolor = 'color:#ffffff' %>
              <% else %>
                  <% bgcolor = '#ffffff' %>
                  <% fontcolor = 'color:#514d6a' %>
              <% end %>

              <tr bgcolor="<%= bgcolor %>" style="pointer-events:none;">
                <td style="<%= fontcolor %>"><%= measurement.measured_at.strftime('%d/%m/%y - %H:%M') %></td>
                <td style="<%= fontcolor %>"><%= (measurement.probability * 100).to_i %>%</td>
                <td style="<%= fontcolor %>"><%= measurement.impact %></td>
                <td style="<%= fontcolor %>"><%= measurement.magnitude %></td>
                <td style="<%= fontcolor %>"><%= measurement.comments %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row text-right">
    <%= button_to 'Nueva medición', new_risk_measurement_path(@risk.id), method: 'get', class: 'btn btn-primary'%>
  </div>
<% end %>

<%= content_for :footer do %>
  <%= link_to 'Ver historial', risk_history_path(@risk.id) %>
<% end %>