<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>Objetivo</th>
      <th>Nombre</th>
      <th>Description</th>
      <th>Método</th>
      <th>Encargado</th>
      <th>Criterio</th>
      <th>Unidad</th>
      <th>Fecha Última Medición</th>
      <th>Valor Esperado</th>
      <th>Valor Obtenido</th>
    </tr>
<% end %>

<% content_for :table_body do %>
    <% if @indicators.size != 0 %>
        <% @indicators.each do |indicator| %>
            <% measurement = indicator.measurements.order_by(measured_on: :desc, created_at: :desc).first %>

            <tr data-href="<%= indicator_path(indicator.id) %>">

              <td><%= Objective.find(indicator.objective_id).name %></td>

              <td><%= indicator.name %></td>
              <td><%= indicator.description %></td>
              <td><%= indicator.method %></td>
              <td><%= Person::User.find(indicator.responsible_id).first_last_name %></td>
              <td><%= indicator.criterion %></td>
              <td><%= indicator.unit %></td>
              <td><%= measurement&.measured_at&.strftime(dt_rb_format(false, false)) || '-' %></td>
              <td><%= measurement&.threshold || '-' %></td>
              <td><%= measurement&.value || '-' %></td>

            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="10"> No se encontraron indicadores. </td>
        </tr>
    <% end %>
<% end %>

<% content_for :menu do %>
    <div class="left">
      <div class="header-buttons">
        <div class="dropdown">
          <%= link_to new_indicator_path, method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-file-plus"></i>
              Nuevo
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
        <span>
          Indicadores
        </span>
        </li>
      </ul>
    </div>
<% end %>