<% content_for :before_table do %>
<% end %>

<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>Objetivo</th>
      <th>Nombre</th>
      <th>Description</th>
      <th>Encargado</th>
      <th>Fecha</th>
      <th>Método</th>
      <th>Meta</th>
      <th>Valor Obtenido</th>
      <th>Significancia</th>
    </tr>
<% end %>

<% content_for :table_body do %>
    <% if @indicators.size != 0 %>
        <% @indicators.each do |indicator| %>
            <% measurement = indicator.measurements.order_by(measured_at: :desc, created_at: :desc).first %>

            <% threshold = "#{measurement&.threshold || indicator.threshold}
            (&plusmn; #{(indicator.margin * 100).round(2)} %)" %>

            <tr data-href="<%= indicator_path(indicator.id) %>">

              <td><%= Objective.find(indicator.objective_id).name %></td>

              <td><%= indicator.name %></td>
              <td><%= indicator.description %></td>
              <td><%= Person::User.find(indicator.responsible_id).first_last_name %></td>
              <td><%= measurement&.measured_at&.strftime(dt_rb_format(false, false)) || '-' %></td>
              <td><%= indicator.method %></td>
              <td><%= raw "#{indicator.criterion} #{threshold} #{indicator.unit}" %></td>
              <td><%= measurement&.value || '-' %></td>
              <td class="<%= 'sig-' + indicator.significant.to_s %>">
                <%= humanize_significant(indicator.significant) %>
              </td>

            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="10"> No se encontraron indicadores.</td>
        </tr>
    <% end %>
<% end %>

<% content_for :styles do %>
    <!-- Indicators' Index Page Styles -->
    <style>
      <%= significant_style_css %>
    </style>
<% end %>

<% content_for :menu do %>
    <div class="dropdown">
      <%= link_to new_indicator_path, method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-file-plus"></i>
          Nuevo
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
        <span>
          Análisis: Indicadores
        </span>
        </li>
      </ul>
    </div>
<% end %>