<%= content_for :heading_main do %>

<% end %>

<%# Populate all 3 columns of the view with keys & their values %>

<%= content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Objetivo:</div>
      <div class="col-lg-8">
        <%= link_to objective_path(@indicator.objective_id) do %>
            <%= Objective.find(@indicator.objective_id).name %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Descripción:</div>
      <div class="col-lg-8">
        <%= @indicator.description || '' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Criterio:</div>
      <div class="col-lg-8">
        <%= @indicator.criterion %>
      </div>
    </div>

<% end %>

<%= content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Nombre:</div>
      <div class="col-lg-8">
        <%= @indicator.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Método:</div>
      <div class="col-lg-8">
        <%= @indicator.method %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Meta:</div>
      <div class="col-lg-8">
        <%= raw "#{@indicator.threshold.round(2).to_s} &plusmn; #{(@indicator.margin * 100).to_i}%" %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_3 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Responsable:</div>
      <div class="col-lg-8">
        <%= link_to Person::User.find(@indicator.responsible_id).first_last_name, user_path(@indicator.responsible_id) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Frec. Medición:</div>
      <div class="col-lg-8">
        <%= frequency_string(@indicator.measurement_frequency).capitalize %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Unidad:</div>
      <div class="col-lg-8">
        <%= @indicator.unit %>
      </div>
    </div>
<% end %>

<%= content_for :extra do %>
    <% if @indicator.comments? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Descripción</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= raw @indicator.comments %>
          </div>
        </div>
    <% end %>

    <% if @indicator.measurements? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Mediciones</h5>
          </div>
          <div class="panel-body">
            <div class="row margin-left-20 margin-right-20">
              <div class="table-responsive margin-bottom-10" style="height:300px; overflow: auto">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Valor</th>
                    <th>Meta</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @indicator.measurements.order(measured_at: :desc, created_at: :desc).each do |measurement| %>

                      <tr class="measurement-row" data-id="<%= measurement.id %>">
                        <td>
                          <%= measurement.measured_at.strftime(dt_rb_format(false, false)) %>
                        </td>
                        <td>
                          <%= measurement.value.round(2) %>
                        </td>
                        <td>
                          <%= measurement.threshold.round(2) %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>

              <div class="margin-top-50">
                <div class="ct-chart height-400" id="indicator-chart"></div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<%= content_for :menu do %>
    <div class="left">
      <div class="header-buttons">

        <div class="dropdown">
          <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @indicator.log_book})}" %>
          <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
            <i class="dropdown-inline-button-icon icmn-history"></i>
            Bitácora
          </a>
        </div>

        <% if @indicator.responsible_id == @user.id %>
            <div class="dropdown">
              <%= link_to new_indicator_measurement_path(@indicator.id),
                          method: 'get', class: 'dropdown-inline-button' do %>
                  <i class="dropdown-inline-button-icon icmn-design"></i>
                  Medir
              <% end %>
            </div>
        <% end %>

        <div class="dropdown">
          <%= link_to edit_indicator_path(@indicator.id),
                      method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-pencil"></i>
              Editar
          <% end %>
        </div>

      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to indicators_path do %>
              Indicadores
          <% end %>
        </li>
        <li>
          <span>
            <%= @indicator.number %>
          </span>
        </li>
      </ul>
    </div>
<% end %>

<%= content_for :scripts do %>
    <%# Process and load measurement data for use in the chart (Using ChartistJS). %>
    <% if @indicator.measurements.count > 0 %>

        <% data = chart_data(@indicator.measurements.order(measured_at: :asc, created_at: :asc), 4, 'value') %>

        <!-- Indicators' Show Page Scripts -->
        <script type="text/javascript">
            $('.measurement-row').click(function () {
                var link = '/analisis/indicadores/<%= @indicator.id %>/' + $(this).attr('data-id') + '/editar';

                window.open(link, '_self');
            });

            $(document).ready(function () {
                chart = generateLineChart(
                    '#indicator-chart',
                    { // data
                        labels: <%= raw data[:numeric_dates] %>,
                        series: [<%= raw data[:values] %>, <%= raw data[:thresholds] %>]
                    },
                    { // options
                        lineSmooth: false,
                        axisX: generateFixedAxis(<%= raw data[:numeric_dates] %>,
                            0 + <%= raw data[:min_x] %>, <%= raw data[:max_x] %>,
                            function (value) {
                                return moment.unix(value)
                                    .format('<%= dt_form_format(false) %>')
                            }),
                        axisY: generateAutoAxis(0)
                    });
            });
        </script>
    <% end %>
<% end %>

<% content_for :styles do %>
    <!-- Indicators' Show Page Styles -->
    <style>
      .ct-series-a .ct-line,
      .ct-series-a .ct-point {
        stroke: #01a8fe;
      }

      .ct-series-b .ct-line,
      .ct-series-b .ct-point {
        stroke: #fb434a;
      }
    </style>
<% end %>
