<%= content_for :heading_main do %>

<% end %>

<%# Populate all 3 columns of the view with keys & their values %>

<%= content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Tipo:</div>
      <div class="col-lg-8">
        <%= @process.process_type %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 show-label">Responsable:</div>
      <div class="col-lg-8">
        <%=  Person::User.find(@process.responsible_id).first_last_name %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Nombre:</div>
      <div class="col-lg-8">
        <%= @process.name %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_3 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Descripción:</div>
      <div class="col-lg-8">
        <%= @process.description %>
      </div>
    </div>
<% end %>

<%= content_for :extra do %>
    <% if @process.comments? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Descripción</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= raw @process.comments %>
          </div>
        </div>
    <% end %>

    <div class="row is-flex">
      <div class="col-lg-5">
        <% unless @process.attachment_ids.empty? %>
            <div class="panel padding-bottom-25">
              <%= render partial: 'uploaded_files/attachments_table',
                         locals: {element: @process} %>
            </div>
        <% end %>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <% if @process.references? %>
            <div class="panel padding-bottom-25" style="height: 100%">
              <%= render partial: 'referables/show_all_for',
                         locals: {element: @process} %>
            </div>
        <% end %>
      </div>
    </div>

    <% if @process.revisions? %>
        <div class="panel" style="width: 50%">
          <div class="panel-heading">
            <h5>Revisiones</h5>
          </div>
          <div class="panel-body">
            <div class="row margin-left-20 margin-right-20">
              <div class="table-responsive margin-bottom-10" style="max-height:300px; overflow: auto">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Fecha</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @process.revisions.order(revised_at: :desc, created_at: :desc).each do |revision| %>
                      <tr class="revision-row" data-id="<%= revision.id %>" style="cursor: pointer">
                        <td>
                          <%= show_formatted_datetime(revision.revised_at) %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @process.log_book})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
        <i class="dropdown-inline-button-icon icmn-history"></i>
        Bitácora
      </a>
    </div>

    <div class="dropdown">
      <%= link_to new_business_process_revision_path(@process), method: 'get',
                  class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-rulers"></i>
          Revisar
      <% end %>
    </div>


    <div class="dropdown">
      <%= link_to edit_business_process_path(@process), method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-pencil"></i>
          Editar
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to business_processes_path do %>
              Estrategias: Procesos
          <% end %>
        </li>
        <li>
          <span>
            <%= @process.number %>
          </span>
        </li>
      </ul>
    </div>
<% end %>

<% content_for :scripts do %>
    <!-- Business Processes' Show Page Scripts -->
    <script type="text/javascript">
        $('.revision-row').click(function () {
            var link = '/estrategias/procesos/<%= @process.id %>/revisiones/' + $(this).attr('data-id');

            window.open(link, '_self');
        });
    </script>
<% end %>
