<div class="panel-heading">
  <h5>Referencias</h5>
</div>

<div id="references-container" class="padding-left-20">
  <% if element && element.class < Referable && element.references? %>
      <%# change this to form_format and add hidden ID inputs if true %>
      <% form_format ||= false %>

      <% element.references.keys.each do |class_name| %>
          <%# !! CHANGE THIS BEFORE PRODUCTION !! %>
          <% klass = class_name.constantize %>

          <div id="<%= class_name.gsub('::', '_') %>">
            <strong>
              <%= klass.display_name %>:
            </strong>

            <% element.get_all_referred(klass).each do |reference| %>
                <div id="reference-<%= reference.id %>" style="display: inline">
                  <% if form_format %>
                      <%= reference.display_name %>
                      <input class="form-control-hidden" type="hidden"
                             name="references[<%= class_name %>][]" id="references_<%= class_name %>"
                             value="<%= reference.id %>">
                  <% else %>
                      <%= link_to(reference.display_name, reference) %>
                  <% end %>

                  //
                </div>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>
