<%= content_for :heading_main do %>
<% end %>

<%# Populate all 3 columns of the view with keys & their values %>

<%= content_for :main_col_1 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Nombre:</div>
      <div class="col-lg-8">
        <%= @type.name %>
      </div>
    </div>
<% end %>

<%= content_for :main_col_2 do %>
    <div class="row">
      <div class="col-lg-4 show-label">Descripción:</div>
      <div class="col-lg-8">
        <%= @type.description %>
      </div>
    </div>
    </div>
<% end %>

<%= content_for :main_col_3 do %>
<% end %>

<%= content_for :extra do %>
    <div class="row margin-top-10">
      <% if @type.clients? %>
          <div class="col-lg-2">
            <div class="panel">
              <div class="panel-heading">
                <h5>
                  Clientes
                </h5>
              </div>
              <div class="panel-body" style="height: 100px; overflow: auto">
                <% @type.clients.each do |client| %>
                    <%= link_to client.full_name, client %>
                    <br>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <% if @type.comments? %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Descripción</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= raw @type.comments %>
          </div>
        </div>
    <% end %>

    <div class="row is-flex">
      <div class="col-lg-5">
        <% if @type.attachment_ids? %>
            <div class="panel">
              <div class="panel-heading">
                <h5>Adjuntos</h5>
              </div>
              <%= render partial: 'uploaded_files/attachments_table',
                         locals: {element: @type} %>
            </div>
        <% end %>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <% if @type.references? %>
            <div class="panel padding-bottom-25" style="height: 100%">
              <%= render partial: 'referables/show_all_for',
                         locals: {element: @type} %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @type.log_book})}" %>
      <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
        <i class="dropdown-inline-button-icon icmn-history"></i>
        Bitácora
      </a>
    </div>

    <div class="dropdown">
      <%= link_to edit_client_type_path(@type.id), class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-pencil"></i>
          Editar
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to client_types_path do %>
              Clientes: Tipos
          <% end %>
        </li>
        <li>
          <span>
            <%= @type.number %>
          </span>
        </li>
      </ul>
    </div>
<% end %>
