<%= render partial: 'assets/show/asset_details' %>

<% if @asset.comments? %>
    <%= content_for :extra_no_panel do %>
        <div class="panel">
          <div class="panel-heading">
            <h5>Descripci칩n</h5>
          </div>
          <div class="margin-left-30 margin-bottom-30">
            <%= raw @asset.comments %>
          </div>
        </div>
    <% end %>
<% end %>

<%= content_for :extra_panel_heading do %>
    <h5>Calibraciones</h5>
<% end %>

<%= content_for :extra_panel_body do %>
    <div class="row margin-left-20 margin-right-20">
      <div class="table-responsive margin-bottom-10" style="height:300px; overflow: auto">
        <table class="table">
          <thead>
          <tr>
            <th>Fecha</th>
            <th>Motivo</th>
            <th>Resultado</th>
          </tr>
          </thead>
          <tbody>
          <% @asset.calibrations.order(calibrated_at: :desc, created_at: :desc).each do |maintenance| %>
              <tr class="maintenance-row" data-id="<%= maintenance.id %>" style="<%= bgcolor %>; cursor: pointer">
                <td style="<%= txtcolor %>"><%= maintenance.calibrated_at.strftime(dt_rb_format(false, false)) %></td>
                <td style="<%= txtcolor %>"><%= maintenance.motive %></td>
                <td style="<%= txtcolor %>"><%= maintenance.result %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>

<%= content_for :menu do %>
    <div class="left">
      <div class="header-buttons">

        <div class="dropdown">
          <% history_content = "#{escape_javascript(render partial: 'log/modal', locals: {book: @asset.log_book})}" %>
          <a href="javascript:void(0)" class="dropdown-inline-button" onclick="showHistory('<%= history_content %>')">
            <i class="dropdown-inline-button-icon icmn-history"></i>
            Ver Bit치cora
          </a>
        </div>
        <div class="dropdown">
          <%= link_to new_calibration_path(@asset.id), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-design"></i>
              Registrar Calibraci칩n
          <% end %>
        </div>

        <div class="dropdown">
          <%= link_to edit_asset_path(@asset.id), method: 'get', class: 'dropdown-inline-button' do %>
              <i class="dropdown-inline-button-icon icmn-pencil"></i>
              Editar
          <% end %>
        </div>

      </div>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
          <%= link_to asset_maintenance_jobs_path do %>
              Mantenci칩n
          <% end %>
        </li>
        <li>
          <span>
            <%= @asset.name %>
          </span>
        </li>
      </ul>
    </div>
<% end %>