<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Conforme</title>

  <%= csrf_meta_tags %>

  <script src="http://www.google.com/jsapi?ext.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>



  <script src="/assets/vendors/jquery/jquery.min.js"></script>


  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tag %>

  <%= yield :script_tags %>


  <script src="/assets/angular-summernote.js"></script>

  <link href="/assets/common/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
  <link href="/assets/common/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
  <link href="/assets/common/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
  <link href="/assets/common/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
  <link href="/assets/common/img/favicon.png" rel="icon" type="image/png">
  <link href="/favicon.ico" rel="shortcut icon">

  <!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  <![endif]-->

  <!-- Vendors Styles -->
  <!-- v1.0.0 -->
  <link rel="stylesheet" type="text/css" href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/jscrollpane/style/jquery.jscrollpane.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/ladda/dist/ladda-themeless.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/select2/dist/css/select2.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/cleanhtmlaudioplayer/src/player.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/cleanhtmlvideoplayer/src/player.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/bootstrap-sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/summernote/dist/summernote.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/ionrangeslider/css/ion.rangeSlider.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/datatables/media/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/c3/c3.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendors/chartist/dist/chartist.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/select.css">

  <!-- Clean UI Styles -->
  <link rel="stylesheet" type="text/css" href="/assets/common/css/source/main.css">

  <!-- Vendors Scripts -->
  <!-- v1.0.0 -->


  <script src="/assets/vendors/tether/dist/js/tether.min.js"></script>
  <script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/assets/vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
  <script src="/assets/vendors/jscrollpane/script/jquery.jscrollpane.min.js"></script>
  <script src="/assets/vendors/spin.js/spin.js"></script>
  <script src="/assets/vendors/ladda/dist/ladda.min.js"></script>
  <script src="/assets/vendors/select2/dist/js/select2.full.min.js"></script>
  <script src="/assets/vendors/html5-form-validation/dist/jquery.validation.min.js"></script>
  <script src="/assets/vendors/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
  <script src="/assets/vendors/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
  <script src="/assets/vendors/autosize/dist/autosize.min.js"></script>
  <script src="/assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js"></script>
  <script src="/assets/vendors/moment/min/moment.min.js"></script>
  <script src="/assets/vendors/moment/min/locales.min.js"></script>
  <script src="/assets/vendors/moment-timezone/builds/moment-timezone.min.js"></script>
  <script src="/assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/assets/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/assets/vendors/cleanhtmlaudioplayer/src/jquery.cleanaudioplayer.js"></script>
  <script src="/assets/vendors/cleanhtmlvideoplayer/src/jquery.cleanvideoplayer.js"></script>
  <script src="/assets/vendors/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
  <script src="/assets/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
  <script src="/assets/vendors/summernote/dist/summernote.min.js"></script>
  <script src="/assets/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="/assets/vendors/ionrangeslider/js/ion.rangeSlider.min.js"></script>
  <script src="/assets/vendors/nestable/jquery.nestable.js"></script>
  <script src="/assets/vendors/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/assets/vendors/datatables/media/js/dataTables.bootstrap4.min.js"></script>
  <script src="/assets/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
  <script src="/assets/vendors/datatables-responsive/js/dataTables.responsive.js"></script>
  <script src="/assets/vendors/editable-table/mindmup-editabletable.js"></script>
  <script src="/assets/vendors/d3/d3.min.js"></script>
  <script src="/assets/vendors/c3/c3.min.js"></script>
  <script src="/assets/vendors/peity/jquery.peity.min.js"></script>
  <!-- v1.1.1 -->
  <script src="/assets/vendors/gsap/src/minified/TweenMax.min.js"></script>
  <script src="/assets/vendors/hackertyper/hackertyper.js"></script>
  <script src="/assets/vendors/jquery-countTo/jquery.countTo.js"></script>

  <script src="/assets/select.js"></script>

  <!-- Clean UI Scripts -->
  <script src="/assets/common/js/common.js"></script>
  <script src="/assets/common/js/demo.temp.js"></script>



  <script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart','orgchart']}]}"></script>
  <script src="/assets/organization/jquery.orgchart.js"></script>
  <script src="/assets/organization/angular-google-chart.js"></script>




  <script type="text/javascript" src="/assets/jQueryRotate.js"></script>





  <script src="/assets/dropzone.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">



  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.0/ui-bootstrap-tpls.js"></script>



  <script type="text/javascript" charset="utf-8" src="/assets/date/datetime-picker.js"></script>

  <script type="text/javascript">
    moment.tz.add("Etc/UTC|UTC|0|0|")
    moment.tz.add("America/Santiago|SMT CLT CLT CLST CLST|4G.K 50 40 40 30|010203131313131212421242424242424242424242424242424242424242424242424242424242424242424242424242424242424242424242424242424242424242424242424242424242424242424|-2q2jh.e fJAh.e 5knG.K 1Vzh.e jRAG.K 1pbh.e 11d0 1oL0 11d0 1oL0 11d0 1oL0 11d0 1pb0 11d0 nHX0 op0 9Bz0 jb0 1oN0 ko0 Qeo0 WL0 1zd0 On0 1ip0 11z0 1o10 11z0 1qN0 WL0 1ld0 14n0 1qN0 WL0 1qN0 11z0 1o10 11z0 1o10 11z0 1qN0 WL0 1qN0 WL0 1qN0 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1qN0 WL0 1qN0 WL0 1qN0 1cL0 1cN0 11z0 1o10 11z0 1qN0 WL0 1fB0 19X0 1qN0 11z0 1o10 11z0 1o10 11z0 1o10 11z0 1qN0 WL0 1qN0 17b0 1ip0 11z0 1ip0 1fz0 1fB0 11z0 1qN0 WL0 1qN0 WL0 1qN0 WL0 1qN0 11z0 1o10 11z0 1o10 11z0 1qN0 WL0 1qN0 17b0 1ip0 11z0 1o10 19X0 1fB0 1nX0 G10 1EL0 Op0 1zb0 Rd0 1wn0 Rd0 46n0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Dd0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Dd0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Dd0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0 1Nb0 Ap0|62e5")
  </script>

</head>