<nav class="left-menu" left-menu ng-class="{'hidden-left-menu': hideLeftMenu}">
  <div class="logo-container">
    <a href="/" class="logo">
      E-works
    </a>
  </div>

  <div class="left-menu-inner scroll-pane">
    <ul class="left-menu-list left-menu-list-root list-unstyled">

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-hour-glass2"><!-- --></i>
          Tareas
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/tareas/documentos">Documentos</a>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/tareas/ext_document">Doc. Externos</a>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/tareas/hallazgos">Hallazgos</a>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/tareas/minute">Actas</a>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/tareas/other">Varias</a>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/tareas/planning">Planificación</a>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/tareas/maintenance">Mantención</a>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-stats-growth "></i>
          Mejora
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'Hallazgos', {controller: 'findings', action: 'index'}, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/mejora/auditorias">Auditoria</a>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/mejora/revision_gerencial">Revisión Gerencial</a>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-chart"></i>
          Análisis
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'Indicadores', {controller: 'indicators', action: 'index'}, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/analisis/informes">Informes</a>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-users"></i>
          Personas
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'Ficha', users_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Organigrama', positions_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Competencias', employee_evaluations_path('competencias'), class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Desempeño', employee_evaluations_path('performance'), class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Clima', '#', class: 'left-menu-link' %>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-user-tie"></i>
          Clientes
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'Ficha', clients_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Tipos', client_types_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Satisfacción', '#', class: 'left-menu-link' %>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-cart-add2"></i>
          Proveedores
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'Ficha', providers_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Tipos', provider_types_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Competencias', provider_evaluations_path('competencias'),
                          class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Desempeño', provider_evaluations_path('performance'),
                          class: 'left-menu-link' %>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-construction"></i>
          Activos
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'Mantención', business_assets_path('mantencion'),
                          class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Calibración', business_assets_path('calibracion'),
                          class: 'left-menu-link' %>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list">
        <%= link_to plannings_path, class: 'left-menu-link' do %>
          <i class="left-menu-link-icon icmn-calendar5"></i>
          Planificación
        <% end %>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-book"></i>
          Documentos
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'Documentos', '#', class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/documentos_mantenedores/archivos">Registros</a>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Archivos', uploaded_files_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Actas', minutes_folders_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Definiciones', definitions_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <a class="left-menu-link" href="/documentos_mantenedores/objetivos">Cuestionarios</a>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Normas', risks_path('norma'), class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Leyes', risks_path('ley'), class: 'left-menu-link' %>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-strategy"></i>
          Estrategias
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'FODA', swot_index_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'PESTA', peste_index_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Partes Interesadas', concerned_parties_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Objetivos', objectives_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Procesos', business_processes_path, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Comunicación', communications_path, class: 'left-menu-link' %>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-warning"></i>
          Riesgos
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'Operacionales', risks_path('operacional'), class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Ambientales', risks_path('ambiente'), class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Seguridad', risks_path('seguridad'), class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Normativos', risks_path('norma'), class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Legales', risks_path('ley'), class: 'left-menu-link' %>
            </div>
          </li>
        </ul>
      </li>

      <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
          <i class="left-menu-link-icon icmn-cogs"></i>
          Configuraciones
        </a>
        <ul class="left-menu-list list-unstyled">
          <li>
            <div class="dropdown-header">
              <%= link_to 'Riesgos', {controller: 'settings', action: 'risks'}, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Ambiente', {controller: 'settings', action: 'environment'}, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Seguridad', {controller: 'settings', action: 'safety'}, class: 'left-menu-link' %>
            </div>
          </li>

          <li>
            <div class="dropdown-header">
              <%= link_to 'Normas', {controller: 'settings', action: 'standards'}, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Comunicación', {controller: 'settings', action: 'communication'}, class: 'left-menu-link' %>
            </div>
          </li>
          <li>
            <div class="dropdown-header">
              <%= link_to 'Cuestionarios', {controller: 'settings', action: 'questionnaires'}, class: 'left-menu-link' %>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>