<%= content_for :script_tags do %>
    <%= javascript_include_tag 'form' %>

    <%= javascript_include_tag '/assets/vendors/dropify/dist/js/dropify.min.js' %>
<% end %>

<%= content_for :style_tags do %>
    <%= stylesheet_link_tag 'form' %>

    <%= stylesheet_link_tag '/assets/vendors/dropify/dist/css/dropify.min.css' %>
<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <a href="#confirmation-modal" class="dropdown-inline-button" data-toggle="modal">
        <i class="dropdown-inline-button-icon icmn-file-check"></i>
        Grabar
      </a>
    </div>
<% end %>

<%= yield %>

<%= content_for :scripts do %>
    <!-- Form scripts -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-provider="summernote"]').each(function () {
                newSummernote($(this));
            });

            var datePicker = $('.date-picker');
            if (datePicker.length != 0) {
                datePicker.each(function () {
                    var field = $(this);
                    newDateTimePicker(field, '<% server_timezone %>');
                });
            }

            $('.dropify').dropify();
        });

        $('#upload-button').click(function () {
            var filename = $('#uploaded_file_upload').val();
            var lastIndex = filename.lastIndexOf("\\");
            if (lastIndex >= 0) {
                filename = filename.substring(lastIndex + 1);
            }
            console.log(filename);

            var uploadArea = $('#uploads-in');
            uploadArea.find('.form-control')
                .val(filename);


            $('#uploads-modal').modal('hide');
        });
    </script>
<% end %>

<% parent_layout 'application' %>