<%= content_for :script_tags do %>
    <%= javascript_include_tag 'form' %>

    <%= javascript_include_tag '/assets/vendors/dropify/dist/js/dropify.min.js' %>
<% end %>

<%= content_for :style_tags do %>
    <%= stylesheet_link_tag 'form' %>

    <%= stylesheet_link_tag '/assets/vendors/dropify/dist/css/dropify.min.css' %>
<% end %>

<%= content_for :menu do %>
    <div class="dropdown">
      <a href="#confirmation-modal" class="dropdown-inline-button" data-toggle="modal">
        <i class="dropdown-inline-button-icon icmn-file-check"></i>
        Grabar
      </a>
    </div>
<% end %>

<%= yield %>

<%= content_for :scripts do %>
    <!-- Form scripts -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-provider="summernote"]').each(function () {
                newSummernote($(this));
            });

            var datePicker = $('.date-picker');
            if (datePicker.length !== 0) {
                datePicker.each(function () {
                    newDateTimePicker($(this), '<% server_timezone %>');
                });
            }
            $('.date-picker > .form-control')
                .mask('<%= dt_mask_format(true) %>', {placeholder: '__/__/___ - __:__'});

            $('.phone-input').mask('+(00) 0 0000 0000', {placeholder: '+(__) _ ____ ____'});

            $('.rut-input').mask('00000000-K', {
                translation: {
                    K: {pattern: /[kK0-9]/}
                    },
                placeholder: '12345678-9'
            });

            $('.dropify').dropify({
                messages: {
                    'default': 'Arrastre un archivo hasta aquí o haga click',
                    'replace': 'Arraste un archivo hasta aquí o haga click para reemplazar',
                    'remove':  'Quitar',
                    'error':   'Oops, algo salió mal.'
                },
                error: {
                    'fileSize': 'Archivo excede peso máximo ({{ value }}).',
                    'minWidth': 'La imagenes demasiado angosta (ancho mínimo: {{ value }}}px).',
                    'maxWidth': 'La imagen es demasiado ancha ({{ value }}}px máximo).',
                    'minHeight': 'La imagen es demasiado chata (largo mínimo: {{ value }}}px).',
                    'maxHeight': 'La imagen es demasiado larga ({{ value }}px máximo).',
                    'imageFormat': 'Formato de imagen no válido (Permitidos: {{ value }}).'
                }
            });
        });

        $('#upload-button').click(function () {
            var filename = $('#uploaded_file_upload').val();
            var lastIndex = filename.lastIndexOf("\\");
            if (lastIndex >= 0) {
                filename = filename.substring(lastIndex + 1);
            }

            var uploadArea = $('#uploads-in');
            uploadArea.find('.form-control')
                .val(filename);


            $('#uploads-modal').modal('hide');
        });
    </script>
<% end %>

<% parent_layout 'application' %>