<section class="page-content">
  <div class="page-content-inner">
    <!-- Risk -->
    <div class="panel">
      <div class="panel-heading">
        <%= yield :heading_main %>
      </div>

      <div class="panel-body ">

        <div class="row margin-bottom" style="width: 100%">

          <div class="col-lg-4">
            <%= yield :main_col_1 %>
          </div>

          <div class="col-lg-4">
            <%= yield :main_col_2 %>
          </div>

          <div class="col-lg-4">
            <%= yield :main_col_3 %>
          </div>

        </div>

      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <%= yield :heading_extra1 %>
      </div>

      <%= yield :body_extra1 %>

    </div>

    <div class="panel">
      <div class="panel-heading">
        <%= yield :heading_extra2 %>
      </div>

      <%= yield :body_extra2 %>

    </div>

  </div>
</section>

<div id="history-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bitácora</h4>
      </div>

      <div class="modal-body" id="history-modal-body"></div>
    </div>

  </div>
</div>

<div id="comments-modal" class="modal fade modal-size-large" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" id="comments-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Detalles</h4>
      </div>

      <div class="modal-body" id="comments-modal-body">
        <div class="margin-left-20">
          <h6>Comentarios</h6>
        </div>
        <div class="margin-left-50" id="comments-modal-comments"></div>
      </div>
    </div>
  </div>
</div>

<%= content_for :scripts do %>
    <script type="text/javascript">
        function showHistory(bodyContent) {
            $("#history-modal-body").html(bodyContent);
            $("#history-modal").modal();
        }
    </script>
<% end %>

<% parent_layout 'application' %>