<% content_for :style_tags do %>
  <%= stylesheet_link_tag 'table' %>
<% end %>

<div class="page-content">
  <div class="page-content-inner">
    <div class="panel">

      <div class="panel-body">

        <%= yield :before_table %>

        <div class="nav-tabs-horizontal margin-bottom-20">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#h1" role="tab">
                <%= yield :table_name_active %>
              </a>
            </li>
            <!-- <li class="nav-item">
                 <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#h2" role="tab">
                   < yield :table_name_inactive >
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#h3" role="tab">
                   < yield :table_name_other >
                 </a>
             </li>-->
          </ul>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover nowrap margin-bottom-0" id="items-table" width="100%">
              <thead>
              <%= yield :table_headers %>
              </thead>

              <tfoot>
              <%= yield :table_headers %>
              </tfoot>

              <tbody style="cursor: pointer">
              <%= yield :table_body %>
              </tbody>
            </table>
          </div>
        </div>

        <%= yield :after_table %>

      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
    <script>
        $(document).ready(function () {
            $("#items-table").DataTable({
                responsive: {
                  details: {
                      type: "column",
                      target: ".expand-collapse"
                  }
                },
                lengthMenu: [[5, 25, 50, -1], [5, 25, 50, "Todos"]]
            });
        });
        $(document).on("click", "#items-table tr", function () {
            var link = $(this).data("href");
            window.open(link, '_self')
        });
        $(document).on("click", "#items-table .expand-collapse", function(e) {
          e.stopPropagation();
        });
    </script>
<% end %>

<% parent_layout 'application' %>
