<% content_for :table_name_active do %>
    Activos
<% end %>

<% content_for :table_headers do %>
    <tr>
      <th>Plan</th>
      <th>Descripción</th>
      <th>Fecha</th>
      <th>Progreso (%)</th>
    </tr>
<% end %>

<% content_for :table_body do %>
    <% plannings = Planning.order_by(due_at: :asc) %>

    <% if plannings.size != 0 %>
        <% plannings.each do |planning| %>
            <tr data-href="<%= planning_path(planning) %>">
              <td>
                <div class="expand-collapse">+</div>
                <%= planning.name %>
              </td>
              <td>
                <%= planning.description %>
              </td>
              <td>
                <%= planning.due_at.strftime(dt_rb_format(false, false)) %>
              </td>
              <td>
                <%= planning.progress || 0 %>
              </td>
            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan="4"> No se encontraron planes.</td>
        </tr>
    <% end %>
<% end %>


<% content_for :menu do %>
    <div class="dropdown">
      <%= link_to new_planning_path, method: 'get', class: 'dropdown-inline-button' do %>
          <i class="dropdown-inline-button-icon icmn-file-plus"></i>
          Nuevo
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumbs do %>
    <div class="left">
      <ul class="list-unstyled breadcrumb breadcrumb-custom">
        <li>
        <span>
          Planificación
        </span>
        </li>
      </ul>
    </div>
<% end %>
